Repository kubernetes/sig-release, pull requests merged in 2018-10, with the labels that each got.

#322 Bug triage handbook updates
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#325 Add a RC2 date on 1.13 release calendar
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#330 Add bit.ly/k8s113-bugtriage
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#332 security: document mailing lists
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#333 Test-Infra handbook updates.
  release-team/role-handbooks/test-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#328 Mailing list changes
  release-team/role-handbooks/patch-release-manager/README.md
  release-team/role-handbooks/release-team-lead/README.md
  security-release-process-documentation/email-templates.md
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#335 add nikopen to bug triage
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#323 fix ci signal link
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#338 Update README.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#342 s/features/enhancements
  release-team/README.md
  release-team/role-handbooks/bug-triage/README.md
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/documentation-guides/update-release-docs-new.md
  release-team/role-handbooks/documentation-guides/updating-docs-for-feature-changes.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/enhancements/TODO.md
  release-team/role-handbooks/patch-release-manager/README.md
  release-team/role-handbooks/release-team-lead/README.md
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/pm, sig/release, size/L

#343 Add Release Team roles table in README
  release-team/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#340 RT Lead language fix
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#341 Update OWNERS_ALIASES to only include N-3 RT personnel
  OWNERS_ALIASES
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#345 Removes reference to "cherry-pick candidate" label, which is no longe…
  release-team/README.md
  release-team/role-handbooks/patch-release-manager/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#356 Add the additional 1.13 alpha.3 release to timeline
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#346 Add release blocking job criteria
  release-blocking-jobs.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#334 security-release-process: add release template
  security-release-process-documentation/email-templates.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#357 Add features 1.12 tracking sheet
  releases/release-1.12/features.csv
Labels: approved, cncf-cla: yes, lgtm, sig/pm, sig/release, size/M
