Repository kubernetes/sig-release, pull requests merged in 2018-11, with the labels that each got.

#359 Update OWNERS*
  OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#361 Update shared calendar link
  README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#362 Add link to LWKD for release notes handbook.
  release-team/role-handbooks/release-notes/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#363 security: add new members process
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#367 Fix broken link and some typos
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#348 Update SIG info (contact info / charter)
  README.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/release, size/M

#371 Fix Code Freeze date in Release Calendar
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#373 Cleanup features spreadsheets formatting
  releases/release-1.10/features.csv
  releases/release-1.11/features.csv
  releases/release-1.12/features.csv
  releases/release-1.3/features.csv
  releases/release-1.4/features.csv
  releases/release-1.5/features.csv
  releases/release-1.6/features.csv
  releases/release-1.7/features.csv
  releases/release-1.8/features.csv
  releases/release-1.9/features.csv
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XL

#375 handbook fixes: bot does not kick issues out by itself
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#376 Nominating Jonathan Pulsifer for PST associate
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, committee/steering, lgtm, sig/release, size/XS

#379 Update 1.13 roster to reflect active t-i shadows.
  releases/release-1.13/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#377 Add 1.14 Release Team
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#386 Final 1.13 release notes, copied in from Google Doc
  releases/release-1.13/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/release, size/XL

#387 Update release notes to bump Cluster Autoscaler to 1.13.0 from 1.13.0-rc2
  releases/release-1.13/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#388 Added links, moved items to owning sig
  releases/release-1.13/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#365 Copy editing the Release Notes role handbook
  release-team/role-handbooks/release-notes/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#389 Updating release notes for SIG Storage and SIG AWS
  releases/release-1.13/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#391 Update Timeline and Responsibilities for Enhancement Lead Handbook
  release-team/role-handbooks/enhancements/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M
