Repository kubernetes/sig-release, pull requests merged in 2018-09, with the labels that each got.

#272 Update Slack + Github handle
  releases/release-1.12/release_team.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#261 updates to release lead handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#271 Add Release Team selection criteria
  release-team/README.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#270 Add features archives for past releases (1.3 - 1.11)
  releases/release-1.10/features.csv
  releases/release-1.11/features.csv
  releases/release-1.3/features.csv
  releases/release-1.4/features.csv
  releases/release-1.5/features.csv
  releases/release-1.6/features.csv
  releases/release-1.7/features.csv
  releases/release-1.8/features.csv
  releases/release-1.9/features.csv
Labels: approved, cncf-cla: yes, lgtm, sig/pm, sig/release, size/L

#277 Add release notes to 70a0089 in prep for HackMD doc
  releases/release-1.12/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#264 Update RT Lead docs to remove references to `release-x.y.md`
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#275 Reflect current state of automation in bug triage handbook
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#279 PR: Assemble Kubernetes 1.13 Release Team
  releases/release-1.13/release_team.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#289 Add Aish to OWNERS_ALIASES as an RT Lead
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#293 docs: note security responsibility in release lead role
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#292 Add upgrade job version guide
  release-team/role-handbooks/ci-signal/upgrade-job-versions.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#291 More additions to the 1.13 Release Team
  releases/release-1.13/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#295 Even more additions to the 1.13 Release Team
  releases/release-1.13/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#297 Update 1.12 Features Shadows
  releases/release-1.12/release_team.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#301 release 1.12: note shifted release target
  releases/release-1.12/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#303 Address post-merge review comments
  release-team/role-handbooks/ci-signal/upgrade-job-versions.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#287 Convert HTML to Markdown in role-handbooks
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XL, ¯\_(ツ)_/¯

#286 Remove top-level branch mgr table and redirect to `/releases`
  release-managers.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#305 Removes outdated reference to github munger
  release-team/role-handbooks/branch-manager/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#308 security-release-process: require certified Kubernetes distributions
  security-release-process-documentation/email-templates.md
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#294 Release 1.13 timeline and schedule
  releases/release-1.13/OWNERS
  releases/release-1.13/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#310 Remove release specific blockade config update from lead's tasks
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#311 Clarify bug bar for information disclosure & lower severity of some cases
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#312 1.12
  releases/release-1.12/1.12_life.png
  releases/release-1.12/README.md
  releases/release-1.12/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#298 Rename Features to Enhancements
  OWNERS_ALIASES
  release-team/role-handbooks/enhancements/OWNERS
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/enhancements/TODO.md
  release-team/role-handbooks/features/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#314 Transfer Release Notes from Google Docs to Github
  releases/release-1.12/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XL

#274 Adds release-notes role to role-handbooks
  release-team/role-handbooks/release-notes/OWNERS
  release-team/role-handbooks/release-notes/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#315 Removes overlapping release team selection info
  release-team/role-handbooks/release-notes/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#139 Update the docs release playbook
  release-team/role-handbooks/documentation-guides/update-release-docs-new.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#317 docs: final release day notes
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#318 Adjusting CI signal shadow membership, since I can't reasonably handl…
  releases/release-1.13/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#313 Update Test-Infra role handbook with instructions for Tide.
  release-team/role-handbooks/test-infra/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/release, size/L

#304 add a release-blocking-jobs.md define a list of release-blocking jobs
  release-blocking-jobs.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M
