Repository kubernetes/sig-release, pull requests merged in 2019-01, with the labels that each got.

#413 security-release-process: add Micah Hausler associate
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#422 Move out ephemera/scalability-validation.md
  ephemera/scalability-validation.md
  releases/release-1.8/scalability_validation_report.md
  releases/release-1.9/scalability_validation_report.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#424 Updated security release procedure
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#429 Add 1.13 patch releases info
  releases/patch-releases.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/release, size/M

#434 Add 1.14 Lead Shadows
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#433 Update Release Team Selection (Shadow questionnaire)
  release-team/README.md
  release-team/release-team-selection.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#436 Add 1.12 patch release info
  releases/patch-releases.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#431 Initial draft of the 1.14 release schedule
  OWNERS_ALIASES
  releases/release-1.14/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#443 temp fix docs link
  release-team/README.md
  release-team/role-handbooks/docs/OWNERS
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/docs/update-release-docs-old.md
  release-team/role-handbooks/docs/updating-docs-for-feature-changes.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#439 security release: Distributor list
  security-release-process-documentation/private-distributors-list.md
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#445 Update OWNERS for release-team
  release-team/OWNERS
Labels: approved, cncf-cla: yes, do-not-merge/hold, lgtm, sig/release, size/S

#444 Update TODO's
  releases/release-1.14/OWNERS
  releases/release-1.14/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#438 security release: update docs on triage
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#435 release lead role handbook: encourage global mindset
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#442 Remove code slush
  ephemera/code-slush.md
  release-team/role-handbooks/branch-manager/README.md
  release-team/role-handbooks/bug-triage/README.md
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-team-lead/README.md
  release-team/role-handbooks/test-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#452 Update with 1.11 patch release details
  releases/patch-releases.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#404 Add note about publishing-bot
  release-team/role-handbooks/branch-manager/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#455 Add 1.14 test infra shadows.
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#459 Adding 1.14 Shadows For Release Notes
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#464 adding sig-docs shadows
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#462 Update release_team.md
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#453 Add dirs for RelEng and Licensing subprojects
  licensing/OWNERS
  licensing/README.md
  release-engineering/OWNERS
  release-engineering/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#466 Bug Triage squadron
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#461 Initial draft of 1.14 release notes
  releases/release-1.14/release-notes-draft.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#469 Add 1.14 release branch management shadows
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#470 Add CI signal shadows for 1.14 release
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#473 Add Jorge Alarcon as CI signal shadow for 1.14
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#448 branch and patch release manager role handbooks update
  release-team/role-handbooks/branch-manager/README.md
  release-team/role-handbooks/patch-release-manager/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#475 Add Jorge and Taylor as communications shadows
  releases/release-1.14/release_team.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#472 adding docs deadlines
  releases/release-1.14/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/docs, sig/release, size/XS

#478 Branch Manager Handbook: Add note to request mailing list access
  release-team/role-handbooks/branch-manager/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#482 Release 1.14 readme week4 updates
  releases/release-1.14/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#483 Fix link to exceptions
  releases/release-1.14/README.md
Labels: approved, cncf-cla: yes, do-not-merge/hold, lgtm, sig/release, size/XS

#481 Update EXCEPTIONS.md
  releases/EXCEPTIONS.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#480 Create exception.yml for 1.14 release
  releases/release-1.14/exception.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#484 Fix link to exceptions, another attempt
  releases/release-1.14/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS
