Repository kubernetes/sig-release, pull requests merged in 2019-06, with the labels that each got.

#646 Release Notes Updates for Week 9
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XL

#644 Update SECURITY_CONTACTS
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#620 patch release handbook: add workflow reference example
  release-team/role-handbooks/patch-release-manager/README.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#649 Modify the rebase-image exception list targeting v1.15
  release-engineering/baseimage-exception-list.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#652 update selection handbook for release lead
  release-team/release-team-selection.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#651 fix typos in patch release manager handbook
  release-team/role-handbooks/patch-release-manager/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#657 Add information on building deb/rpm packages
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/release, size/L

#655 Add initial 1.16 Release Team members
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#664 fix typo in role-handbooks doc
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#662 patch release schedule: June 2019 update
  releases/patch-releases.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#672 Requirements Section for Bug Triage
  release-team/role-handbooks/bug-triage/README.md
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#674 Final draft for the 1.15 Release Notes
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XL

#676 Add 1.16 RT lead-shadows
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#671 Add expected time investment in communications handbook
  release-team/role-handbooks/communications/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#681 rt-lead: Add references to the Kubernetes Release Calendar
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, size/S

#682 Removed inactive ci signal shadow
  releases/release-1.15/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#679 Update release-notes role handbook for the website
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#677 Final final draft of release notes (for real this time)
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#683 Update release eng packaging.md
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#684 release-engineering/packaging: add shell script for manually verifying debs
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, size/S

#673 Release Notes Role handbook update
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-notes/relnotes-template.md
  release-team/role-handbooks/release-notes/sig-leads-email.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#678 Add 1.16 README with proposed schedule and OWNERS
  releases/release-1.16/OWNERS
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/L

#690 Update release date for v1.12.10
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#692 Update OWNERS (6/24/19)
  OWNERS_ALIASES
  release-engineering/OWNERS
  release-team/role-handbooks/branch-manager/OWNERS
  release-team/role-handbooks/patch-release-manager/OWNERS
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#685 Role handbook updates - remove org membership as a shadow requirement
  release-team/role-handbooks/branch-manager/README.md
  release-team/role-handbooks/bug-triage/README.md
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/patch-release-manager/README.md
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-team-lead/README.md
  release-team/role-handbooks/test-infra/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#669 Updating test infra role references
  release-team/README.md
  release-team/role-handbooks/release-team-lead/README.md
  release-team/role-handbooks/test-infra/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#694 Added ci singal team for v1.16
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#689 Add initial information for Release Managers roles
  release-engineering/packaging.md
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-manager.md
  release-managers.md
  release-team/README.md
  releases/patch-releases.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#693 Add tombstone and retired roles section for Test Infra
  release-team/README.md
  release-team/role-handbooks/test-infra/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#666 Branch Management handbook Update for v1.16
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XL

#698 Identify myself as a Release Manager Associate
  release-managers.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#691 Delete tombstone files in sig-release/security
  security-release-process-documentation/OWNERS
  security-release-process-documentation/cve-requests.md
  security-release-process-documentation/email-templates.md
  security-release-process-documentation/private-distributors-list.md
  security-release-process-documentation/security-release-process.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#700 Fix month for docs deadline and code freeze
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#697 fix link to branch management handbook under release engineering
  release-team/README.md
  release-team/role-handbooks/test-infra/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#701 Update patch release schedule for 1.14.4 & 1.13.8
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#699 Adding info for the patch release management team
  releases/release-1.15/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#702 added Release Manager Associates for 1.16
  release-managers.md
  releases/release-1.15/release_team.md
  releases/release-1.16/release_team.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S
