Repository kubernetes/sig-release, pull requests merged in 2019-10, with the labels that each got.

#813 fix link text to sig-release-master-informing
  release-blocking-jobs.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#814 Add 1.17 Enhancements shadows.
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#815 Bug Triage 1.17 Shadows
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#812 Release team lead handbook updates
  release-team/role-handbooks/release-team-lead/README.md
  releases/release-1.17/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#807 Rework the Bug Triage handbook
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#817 add 1.17 release notes shadows
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#818 CI signal 1.17 shadows
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#820 Add 1.17 Docs release shadows
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#822 fixing some typos
  release-engineering/role-handbooks/branch-manager.md
  release-team/role-handbooks/ci-signal/upgrade-job-versions.md
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#823 fixing typos for past releases
  releases/release-1.10/release-notes-draft.md
  releases/release-1.12/features.csv
  releases/release-1.13/release-notes-draft.md
  releases/release-1.16/release-notes-draft.md
  releases/release-1.6/release-notes-draft.md
  releases/release-1.8/features.csv
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#825 Update Release Notes Handbook-Patch Release notes for website
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-notes/patch-notes.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#826 Apply small format changes to patch notes docs
  release-team/role-handbooks/release-notes/patch-notes.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#832 patch release schedule update for November 2019
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#831 Fixes docs deadline
  releases/release-1.17/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#833 Add 1.17 Enhancement exceptions.
  releases/release-1.17/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#821 added first release-notes draft
  releases/release-1.17/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#828 Add 1.17 Comms Shadows
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#835 feat(comms): add note about Slack channel for communications team
  release-team/role-handbooks/communications/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS
