Repository kubernetes/sig-release, pull requests merged in 2019-08, with the labels that each got.

#742 Add 1.16 Enhancemment Exceptions
  releases/release-1.16/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#741 Update patch release dates
  releases/patch-releases.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#744 merging turning-off jobs of outgoing-release and turning-on jobs for …
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#749 replace wording from shadow to associates
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#747 Update Release Managers contacts to use kubernetes.io Google Groups
  release-engineering/packaging.md
  release-engineering/role-handbooks/branch-manager.md
  release-managers.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/M

#751 Update references to Release Managers private mailing list
  release-engineering/role-handbooks/patch-release-manager.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#745 Updated 1.16 release notes draft for August 5, 2019
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/L

#754 Added excpetion for issue 1206
  releases/release-1.16/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#760 releng: Add Stephen Augustus as Branch Manager
  release-managers.md
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS

#762 removed individual cloud providers from template
  release-team/role-handbooks/release-notes/relnotes-template.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#753 updated release notes draft Aug 12, 2019
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XL

#763 [1.16] Updated Release Notes draft for August 19, 2019
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XL

#772 Add link to Kubernetes Release Calendar for burndown meetings
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS, tide/merge-method-squash
