Repository kubernetes/sig-release, pull requests merged in 2019-09, with the labels that each got.

#757 Update Branch Manager handbook instructions for branch cut activities
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/L

#777 Added #894 to the Exceptions
  releases/release-1.16/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#779 patch release: Sept. 2019 schedule update
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#781 remove tbd
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#782 Patch Release: update team process documentation
  release-engineering/role-handbooks/patch-release-team-spreadsheet-example.png
  release-engineering/role-handbooks/patch-release-team.md
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#788 docs(README): Update 1.16 release date
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#792 Add Kubernetes 1.17 Release Team Leads
  releases/release-1.17/OWNERS
  releases/release-1.17/exceptions.yaml
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#791 Remove cluster-autoscaler from distroless exceptions
  release-engineering/baseimage-exception-list.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#789 Add Shadow document explaining what RT shadows are, what they do, and…
  release-team/shadows.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, sig/release, size/L

#794 Add final 1.16 release notes draft
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XXL

#793 Quarterly OWNERS update
  OWNERS
  OWNERS_ALIASES
  release-engineering/OWNERS
  release-team/role-handbooks/branch-manager/OWNERS
  release-team/role-handbooks/patch-release-manager/OWNERS
  release-team/role-handbooks/test-infra/OWNERS
  releases/OWNERS
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, do-not-merge/hold, lgtm, sig/release, size/M

#780 Bug triage hb update
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#796 Build Admins docs update
  release-engineering/role-handbooks/patch-release-team.md
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#800 Add Maria Ntalla as Lead Shadow for 1.17
  releases/release-1.17/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#802 Add 1.16 release crest
  releases/release-1.16/116_unlimited_breadsticks_for_all.png
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#799 Update README.md
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#798 patch release schedule update for October 2019
  releases/patch-releases.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#803 Update Branch Manager handbook after 1.16.0
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#805 update packaging.md
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#797 Add Release schedule for 1.17
  releases/release-1.17/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#801 Add introduction of Alpha feature EvenPodsSpread
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#810 releng: Update Release Managers
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#811 Release notes Role: Fix spelling
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#808 updated docs role handbook with 1.16 improvements
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#790 Add initial draft of Emeritus Adviser handbook
  release-team/role-handbooks/emeritus-adviser/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, sig/release, size/M

#785 Update template to contain the relnotes website
  release-team/role-handbooks/release-notes/relnotes-template.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#786 Release notes handbook update
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS
