Repository kubernetes/sig-release, pull requests merged in 2019-07, with the labels that each got.

#704 add docs team for 1.16
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#705 1.16 Enhancement Shadows
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#706 fix typo and removed blank spaces
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#707 Fix some minor typos
  release-managers.md
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#709 Add 1.16 release notes team
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#708 Remove redundant gitkeep file
  release-team/role-handbooks/.gitkeep
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS, ¯\_(ツ)_/¯

#710 Add communications shadows for 1.16 release
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#703 Consolidate communication channels for Release Managers
  release-engineering/packaging.md
  release-engineering/role-handbooks/branch-manager.md
  release-managers.md
  release-team/role-handbooks/release-team-lead/README.md
  releases/patch-releases.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#711 Add 1.16 bug triage shadows
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#712 Change Enhancement Tracking Link
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#716 Add Stephen Augustus as second EA because that's materially true.
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#686 Update patch release schedule (1.15.1)
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, size/S

#715 rt-lead: Update Lead Handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#719 Add 1.15 design and theme
  releases/release-1.15/README.md
  releases/release-1.15/game-of-kubernetes.jpg
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#720 Add link to 1.16 bug triage sheet
  releases/release-1.16/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#722 Created file release-engineering/artifacts.md
  release-engineering/artifacts.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XL

#727 Add initial release notes draft for 1.16
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#721 Fixed links in ci signal handbook
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#731 Updated slack handle
  releases/release-1.16/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#730 updated release notes draft for July 22, 2019
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#733 Updated 1.16 release notes draft for July 29, 2019
  releases/release-1.16/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/L

#728 Add note about amd64 container images archives
  release-engineering/artifacts.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#736 Small CI signal handbook improvements
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S
