Repository kubernetes/sig-release, pull requests merged in 2019-05, with the labels that each got.

#606 Remove references to the milestone burndown Google Group
  release-team/release-team-onboarding.md
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/release-team-lead/README.md
  releases/EXCEPTIONS.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#609 Update 1.15 dates
  releases/release-1.15/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#608 Docs handbook updates
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/docs/pics/enhancement-tracking.png
  release-team/role-handbooks/docs/pics/meme-deadline.jpg
  release-team/role-handbooks/docs/update-release-docs-old.md
  release-team/role-handbooks/docs/updating-docs-for-feature-changes.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XL

#602 Release notes update for Week 4
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#610 patch releases: update schedule
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#612 Release notes update for week 5
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#615 Merge the task remove 1.11 jobs and add 1.15 jobs
  releases/release-1.15/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#613 finalizing docs handbook
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#618 patch release schedule: early May 2019 updates
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#616 Update link to release process description
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#619 Branch manager handbook updates
  release-team/role-handbooks/branch-manager/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/S

#628 Update timeline for release 1.12.9
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#625 Added ci signal report
  releases/release-1.15/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#629 Update release-blocking-job ownership requirement
  release-blocking-jobs.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#630 Update the test-infra handbook
  release-team/role-handbooks/test-infra/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#622 Release notes update for week 6
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#633 updated the links of cherrypick guide
  release-team/README.md
  release-team/role-handbooks/branch-manager/README.md
  release-team/role-handbooks/patch-release-manager/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#635 Release notes Update for Week 8
  releases/release-1.15/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#637 removing references to master-uprading dashboard
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#639 update items on release cut issue template
  .github/ISSUE_TEMPLATE/cut-release.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#634 Updated release-blocking-job criteria
  release-blocking-jobs.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#640 patch release schedule: 1.13.7 and 1.14.3 coming soon
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#641 (docs): Small typo fix
  releases/EXCEPTIONS.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#642 Update contact points for access to GCB
  release-team/role-handbooks/branch-manager/README.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, size/M
