Repository kubernetes/sig-release, pull requests merged in 2020-01, with the labels that each got.

#932 Removed mentions of code slush
  release-team/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#917 Update RT Lead Handbook
  .github/ISSUE_TEMPLATE/release-team-lead.md
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M, tide/merge-method-squash

#934 Added RT lead shadows for 1.18
  releases/release-1.18/OWNERS
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS

#936 Update week 0 pre-collection task to prompt for KEPs to be updated
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS, tide/merge-method-squash

#935 Added 1.18 release schedule
  releases/release-1.18/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#916 Update to Release Notes Handbook
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M, tide/merge-method-squash

#937 First release_notes_draft.md of k/k 1.18.0-alpha.1
  releases/release-1.18/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#931 fix broken links
  releases/release-1.13/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#939 [1.18] Update pre-releases on release schedule
  releases/release-1.18/README.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#941 Add 1.18 Enhancements Shadows
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS, tide/merge-method-squash

#942 Adding 1.18 docs shadows into the release_team.md
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS, tide/merge-method-squash

#943 Update the release-team-onboarding-guide
  release-team/release-team-onboarding.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#940 branch-manager: Update branch job creation commands
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#944 Release Notes Shadow Selections for 1.18
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#945 update ci-signal shadows in 1.18 release team doc
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#946 Update Communications Shadow Selections for 1.18
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#938 Add 1.17 release logo
  releases/release-1.17/README.md
  releases/release-1.17/kubeybara.png
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#947 Update bug-triage shadows in 1.18 release team doc
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#955 Fixed internal contact sheet link for 1.18
  releases/release-1.18/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#962 branch management: don't build at an implicit head
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#963 Update patch releases schedule
  releases/patch-releases.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#960 Change release notes template accordingly to generator
  release-team/role-handbooks/release-notes/relnotes-template.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#961 Updated RT lead handbook with onboarding information
  release-team/release-team-onboarding.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, sig/release, size/S

#965 branchmgmt: Add cutting next alpha as a post-release activity
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#954 Feb. 2020 patch release schedule
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#968 added full file path to assets example
  release-team/role-handbooks/release-notes/patch-notes.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#967 branch management: refining buildversion examples
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#970 Updated 1.18 release team lead shadows
  releases/release-1.18/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#971 Updated RT lead shadows
  releases/release-1.18/OWNERS
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#969 Release Notes draft for k/k v1.18.0-alpha.2
  releases/release-1.18/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L, tide/merge-method-squash

#973 Refactored 1.18 release calendar
  releases/release-1.18/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/M

#974 Updates the Bug Triage manual
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#975 Adding Hugo metadata to Release ReadME
  releases/release-1.18/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS
