Repository kubernetes/sig-release, pull requests merged in 2020-10, with the labels that each got.

#1266 Clarify instructions to fetch all upstream branches
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1268 Add access details and clean up wrong url in docs role handbook
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/S

#1269 Update release notes draft to version v1.20.0-alpha.1
  releases/release-1.20/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1273 Update release notes draft to version v1.20.0-alpha.1
  releases/release-1.20/release-notes-draft.md
  releases/release-1.20/release-notes/maps/pr-93066-map.yaml
  releases/release-1.20/release-notes/maps/pr-93078-map.yaml
  releases/release-1.20/release-notes/maps/pr-93384-map.yaml
  releases/release-1.20/release-notes/maps/pr-93567-map.yaml
  releases/release-1.20/release-notes/maps/pr-93577-map.yaml
  releases/release-1.20/release-notes/maps/pr-93962-map.yaml
  releases/release-1.20/release-notes/maps/pr-94171-map.yaml
  releases/release-1.20/release-notes/maps/pr-94504-map.yaml
  releases/release-1.20/release-notes/maps/pr-94546-map.yaml
  releases/release-1.20/release-notes/maps/pr-94580-map.yaml
  releases/release-1.20/release-notes/maps/pr-94903-map.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1275 Add exceptions for the 1.19 release cycle
  releases/release-1.19/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/M

#1270 Update onboarding issue and RT Lead Handbook for Inclusive Speaker Orientation
  .github/ISSUE_TEMPLATE/release-team-lead.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, kind/feature, lgtm, priority/important-soon, sig/release, size/XS

#1276 OWNERS_ALIASES: Add xmudrii to release-engineering-approvers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1274 add 1.20 exceptions.yaml
  releases/release-1.20/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/M

#1277 Update the branch manager role handbook with additional details
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1285 update exceptions.yaml to incl exceptions 10-12 through 10-13
  releases/release-1.20/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/S

#1286 Removed reference to Velodrome
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1288 Update to Release Eng Schedule of Recurring Work
  release-engineering/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1292 Updating the Release Engineering Roles Descriptions
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1293 Deleted Velodrome references from handbook
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1294 patches: update schedule for the next patches releases
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/M

#1299 Update release notes draft to version v1.20.0-alpha.2
  releases/release-1.20/release-notes-draft.md
  releases/release-1.20/release-notes/maps/pr-90014-map.yaml
  releases/release-1.20/release-notes/maps/pr-91469-map.yaml
  releases/release-1.20/release-notes/maps/pr-92027-map.yaml
  releases/release-1.20/release-notes/maps/pr-92878-map.yaml
  releases/release-1.20/release-notes/maps/pr-93108-map.yaml
  releases/release-1.20/release-notes/maps/pr-93457-map.yaml
  releases/release-1.20/release-notes/maps/pr-93626-map.yaml
  releases/release-1.20/release-notes/maps/pr-93702-map.yaml
  releases/release-1.20/release-notes/maps/pr-93837-map.yaml
  releases/release-1.20/release-notes/maps/pr-94140-map.yaml
  releases/release-1.20/release-notes/maps/pr-94180-map.yaml
  releases/release-1.20/release-notes/maps/pr-94239-map.yaml
  releases/release-1.20/release-notes/maps/pr-94443-map.yaml
  releases/release-1.20/release-notes/maps/pr-94494-map.yaml
  releases/release-1.20/release-notes/maps/pr-94728-map.yaml
  releases/release-1.20/release-notes/maps/pr-94730-map.yaml
  releases/release-1.20/release-notes/maps/pr-94751-map.yaml
  releases/release-1.20/release-notes/maps/pr-94871-map.yaml
  releases/release-1.20/release-notes/maps/pr-94988-map.yaml
  releases/release-1.20/release-notes/maps/pr-95098-map.yaml
  releases/release-1.20/release-notes/maps/pr-95184-map.yaml
  releases/release-1.20/release-notes/maps/pr-95202-map.yaml
  releases/release-1.20/release-notes/maps/pr-95245-map.yaml
  releases/release-1.20/release-notes/maps/pr-95311-map.yaml
  releases/release-1.20/release-notes/maps/pr-95412-map.yaml
  releases/release-1.20/release-notes/sessions/maps-1603063594.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1297 patch release schedule: add expected EOL for 1.18, 1.17
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1300 Move 1.20 branch/jobs creation to rc.0 and replace rc.1 with rc.0
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1289 Doc role handbook clean up
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1303 Update OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/S

#1307 Add GitHub handle to Associates section
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1308 Update CI Signal handbook to include holding an onboarding meeting for shadows
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1310 Adding Ways of Working Content
  release-engineering/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1311 Add "Tracking Work" section and Rel Eng Career Ladder info
  release-engineering/README.md
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1314 Remove Shubham from release-team.md
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS
