Repository kubernetes/sig-release, pull requests merged in 2020-06, with the labels that each got.

#1101 releng: Update packaging.md to k/release@v0.1.5 (CNI plugins CVE fix)
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, committee/product-security, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/S

#1103 schedule: note target monthly dates for remainer of 2020
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1107 releng: Update timing for branch cuts
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1108 releng: Direct Build Admins to use k/release master tags
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/XS

#1104 Update release notes draft to version v1.19.0-beta.1
  releases/release-1.19/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/M

#1106 releng: Consolidation of Patch Release Team and Branch Managers
  .github/ISSUE_TEMPLATE/release-manager.md
  OWNERS
  OWNERS_ALIASES
  release-engineering/OWNERS
  release-engineering/packaging.md
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
  release-managers.md
  release-team/role-handbooks/branch-manager/OWNERS
  release-team/role-handbooks/branch-manager/README.md
  release-team/role-handbooks/patch-release-manager/OWNERS
  release-team/role-handbooks/patch-release-manager/README.md
  release-team/role-handbooks/test-infra/OWNERS
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1114 Update release notes draft to version v1.19.0-beta.2
  releases/release-1.19/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1099 fix typos
  release-engineering/role-handbooks/patch-release-team.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1115 Add hugo metadata to 1.19 release readme
  releases/release-1.19/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#1113 Move 1.19 RT dates forward
  releases/release-1.19/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#1116 update TLDR for 1.19 to reflect deadline changes
  releases/release-1.19/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1121 patch release: update 9 months to 1 year patch support lifetime
  release-engineering/role-handbooks/patch-release-team.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1122 patch release schedule: monthly update
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1120 edited branch manager handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/release, size/L

#1127 licensing: update link to CNCF allowlist policy
  licensing/README.md
Labels: approved, area/licensing, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1128 patch release schedule: active and non-active branch description
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1132 Update release schedule
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/backlog, sig/release, size/XS

#1134 update path to k8s-rapture.sh
  release-engineering/packaging.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1133 patch release schedule: update "next" numbers
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS
