Repository kubernetes/sig-release, pull requests merged in 2020-11, with the labels that each got.

#1305 Update release notes draft to version v1.20.0-alpha.3
  releases/release-1.20/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1317 Use do-not-merge/needs-foo labels for kubernetes/kubernetes
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1213 Release notes role handbook update detailing new process
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-notes/editing-flow.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1320 Update release notes handbook with onboarding info
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1319 Update release branch management handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1163 Update CI Signal Issue format to be more conducive to triage
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1323 Update release notes draft to version v1.20.0-beta.1
  releases/release-1.20/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1326 Add Release 1.20 Meeting Updates template and updates for Nov 4 and Nov 6
  releases/release-1.20/meeting-updates/2020-11-04.md
  releases/release-1.20/meeting-updates/2020-11-06.md
  releases/release-1.20/meeting-updates/TEMPLATE.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1327 Fix the Release Update template for Bug Triage
  releases/release-1.20/meeting-updates/TEMPLATE.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1325 Add a step about modifying prow config file to automatically apply milestones
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1332 handbook: update prow job name for the image promotion
  release-engineering/role-handbooks/release-image-promotion.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1333 patches: update calendar for 1.17/1.18/1.19 patches releases
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1335 Remove Branch Management update from the template
  releases/release-1.20/meeting-updates/TEMPLATE.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1331 Update Release Managers (promotions, new members, retirement, and inactivity updates)
  release-managers.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1336 Release 1.20: Update async meeting notes
  releases/release-1.20/meeting-updates/2020-11-09.md
  releases/release-1.20/meeting-updates/2020-11-11.md
  releases/release-1.20/meeting-updates/2020-11-13.md
  releases/release-1.20/meeting-updates/TEMPLATE.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1304 Update Enhancements Handbook
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1340 Bump 1.20 Docs Merge Ready Date
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, sig/release, size/XS

#1341 Add 11.16.2020 update
  releases/release-1.20/meeting-updates/2020-11-16.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1338 Update bug-triage hackmd template
  releases/release-1.20/meeting-updates/TEMPLATE.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1344 [1.20] RT 11.17.2020 meeting updates
  releases/release-1.20/meeting-updates/2020-11-17.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1345 Update bug-triage handbook
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1346 Update release notes draft to version v1.20.0-beta.2
  releases/release-1.20/release-notes-draft.md
  releases/release-1.20/release-notes/maps/pr-94814-map.yaml
  releases/release-1.20/release-notes/sessions/maps-1605720615.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1347 Update Bug Triage handbook
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1349 Minor comms handbook updates
  release-team/role-handbooks/communications/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/M

#1350 Update meeting notes for 2020-11-18 and 2020-11-19
  releases/release-1.20/meeting-updates/2020-11-18.md
  releases/release-1.20/meeting-updates/2020-11-19.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1351 OWNERS: SIG Release leadership transition and Release Manager updates
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/S

#1318 Rework the Image Promotion handbook to use krel
  release-engineering/role-handbooks/release-image-promotion.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1353 Update handbooks for krel stage/release
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1355 Tidy up release notes draft
  releases/release-1.20/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/L

#1356 Move Release Manager responsibilities to release-managers doc
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/L

#1334 Notes that weekend start-time varies globally
  release-engineering/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS, tide/merge-method-squash

#1357 Remove darwin/386 from artifacts
  release-engineering/artifacts.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/M

#1358 Release Engineering artifacts: Rename Docker to Container Images
  release-engineering/artifacts.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1361 Add meeting updates for 2020-11-20 to 2020-11-27
  releases/release-1.20/meeting-updates/2020-11-20.md
  releases/release-1.20/meeting-updates/2020-11-23.md
  releases/release-1.20/meeting-updates/2020-11-24.md
  releases/release-1.20/meeting-updates/2020-11-25.md
  releases/release-1.20/meeting-updates/2020-11-27.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XL

#1362 Fix release 1.20 README self link
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS
