Repository kubernetes/sig-release, pull requests merged in 2020-05, with the labels that each got.

#1077 May 2020 patch release schedule
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1078 Fix broken link to milestone-maintainers team in CI Signal handbook
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, size/XS

#1079 Release Notes draft for k/k v1.19.0-alpha.3
  releases/release-1.19/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1080 schedule: 1.15 is now out of support
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/S

#1081 Update onboarding guide to add release manager associates to milestone-maintainers
  .github/ISSUE_TEMPLATE/release-manager.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1083 Let's not do the 1.19 Release Retro during Kubecon
  releases/release-1.19/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1085 create release branch later in cycle
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/docs/pics/new-branch.png
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/M

#1084 Update base image exceptions list
  release-engineering/baseimage-exception-list.md
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/M

#1087 Update CI signal handbook to include assigning members to issues
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1063 Update release notes handbook with krel information
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-notes/patch-notes.md
  release-team/role-handbooks/release-notes/setup-tool.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1001 Ensure RT lead organizes the retrospective
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1072 adjust k8s 1.19 release timeline in comms handbook
  release-team/role-handbooks/communications/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/L

#1086 Add basic release notes description
  README.md
  release-engineering/img/kubernetes-release-notes.svg
  release-engineering/release-notes.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1090 role handbooks: add kubernetes-release-team-shadows list
  release-team/role-handbooks/emeritus-adviser/README.md
  release-team/role-handbooks/release-team-lead/README.md
  release-team/shadows.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#1097 schedule: June 2020 patch release schedule
  releases/patch-releases.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1091 Release Notes draft for k/k v1.19.0-beta.0
  releases/release-1.19/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1028 branch-manager/handbook: update handbook to add krel gcbmgr information
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1098 Use krel announce instead of release-notify
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S
