Repository kubernetes/sig-release, pull requests merged in 2020-04, with the labels that each got.

#1042 Quarterly OWNERS updates
  OWNERS_ALIASES
  release-managers.md
  releases/release-1.19/OWNERS
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/M

#1043 Add 1.19 Leads and Emeritus Adviser
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, sig/release, size/S

#1046 releng: Update Release Manager Associates
  release-managers.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1048 Add Jeremy Rickard as Release Lead Shadow
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, sig/release, size/XS

#1044 1.19 Release Calendar (alpha version)
  releases/release-1.19/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1037 Update Communications Handbook for adusting timeline
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1049 Update 1.19 RT Leads
  releases/release-1.19/OWNERS
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, sig/release, size/XS

#1000 Document RT mailing list membership criteria
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#1055 Add krel version to release cut issue template
  .github/ISSUE_TEMPLATE/cut-release.md
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, sig/release, size/S

#1057 Update release-team-selection.md
  release-team/release-team-selection.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1056 making each section linkable
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/XL

#1060 Add 1.19 release CI Signal shadows
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1061 Add 1.19 Release Docs shadows
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1062 add comms team to release team 1.19
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1066 ci-signal: Fix the sig-release-releng-informing link in the README
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1064 Add 1.19 Release Notes Team
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1067 Add 1.19 Release Team Enhancements Shadows
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1068 Add 1.19 Release Team Bug Triage Shadows
  releases/release-1.19/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1065 1.19: Update release cycle timelines (pre-KubeCon release)
  releases/release-1.19/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/M

#1070 releng: Remove aleksandra-malinowska from Patch Release Team
  release-managers.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1071 Release Notes draft for k/k v1.19.0-alpha.2
  releases/release-1.19/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/L

#1074 adding --track to git commands for upstream
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS
