Repository kubernetes/sig-release, pull requests merged in 2020-09, with the labels that each got.

#1209 patch release schedule updates
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1210 patch release schedule updates v2
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1214 Updating RT onboarding doc with a link to prow commands
  release-team/release-team-onboarding.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1219 patch-release: fix next 1.19 patch release
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1014 Update SIG Docs release handbook
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/release, size/L

#1225 Update Release Managers membership
  release-managers.md
Labels: approved, cncf-cla: yes, kind/documentation, kind/feature, lgtm, needs-priority, sig/release, size/M

#1228 enhancements: update README.md to clarify enhancement sheet access
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1230 Fix filename
  releases/release-1.20/release-team.md
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/M

#1232 Update references to the Kubernetes Release Team and Kubernetes Release Team Shadows Google Group
  .github/ISSUE_TEMPLATE/lead.md
  .github/ISSUE_TEMPLATE/release-manager.md
  .github/ISSUE_TEMPLATE/release-team-lead.md
  leads/onboarding.md
  release-engineering/role-handbooks/branch-manager.md
  release-team/release-team-onboarding.md
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/emeritus-adviser/README.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/release-team-lead/README.md
  release-team/shadows.md
  releases/EXCEPTIONS.md
  releases/release-1.14/README.md
  releases/release-1.15/README.md
  releases/release-1.16/README.md
  releases/release-1.17/README.md
  releases/release-1.18/README.md
  releases/release-1.19/README.md
  releases/release-1.20/README.md
Labels: approved, area/release-eng, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1233 Update release docs role handbook to reflect correct channel
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1234 releases/release-1.20: add 1.20 enhancements tracking sheet link
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1235 fix 1.20 enhancements sheet link
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1236 Add checkbox for slack group user mgmt
  .github/ISSUE_TEMPLATE/release-team-lead.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1237 Updating RT & RT shadows google group references
  .github/ISSUE_TEMPLATE/release-team-lead.md
  release-team/role-handbooks/emeritus-adviser/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1243 Clarify test freeze defintion
  releases/release_phases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1245 Cut 1.20.0-alpha.1 release in 1.20 cycle
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1212 Docs role handbook improvements
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/docs, sig/release, size/M

#1244 Fix missing release managers link
  release-engineering/role-handbooks/patch-release-team.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1250 Add 1.20 Docs Shadows to the release team
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1242 patches: update patch release schedule for 1.19/1.18/1.17
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1252 Add 1.20 Release Team Bug Triage Shadows
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1254 Add 1.20 release CI Signal shadows
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1255 Cleanup cutting release section in branch manager handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/release, size/S

#1260 Add Comms Shadows contact info for v. 1.20
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1248 Docs role handbook clean up
  release-team/role-handbooks/docs/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/M

#1259 release-1.20/release_team.md: add 1.20 Enhancements shadows
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1258 releng: Add Marky to Release Manager Associates
  release-managers.md
Labels: approved, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1261 Add 1.20 Release Notes shadows
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1246 Propose test freeze deadline for 1.20
  releases/release-1.20/README.md
  releases/release_phases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/S

#1263 Add team meeting with shadows to RT Lead handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1264 Add image promotion step to release cut issue template
  .github/ISSUE_TEMPLATE/cut-release.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1265 Add Xander as 1.20 Comms Shadow
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/XS
