Repository kubernetes/sig-release, pull requests merged in 2020-12, with the labels that each got.

#1364 Github handle change for Docs shadow Rey Lejano
  releases/release-1.20/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1366 Update Cut Release issue template to use krel stage/release
  .github/ISSUE_TEMPLATE/cut-release.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1367 releng: Update guidelines on promotiong RC images
  release-engineering/role-handbooks/release-image-promotion.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1368 releng: Update the branch creation/management handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1373 Add release notes JSON draft
  releases/release-1.20/release-notes-draft.json
Labels: approved, area/release-team, cncf-cla: yes, kind/feature, lgtm, needs-priority, sig/release, size/XXL

#1354 Modify the docs role handbook
  release-team/role-handbooks/docs/Release-Timeline.md
  release-team/role-handbooks/docs/pics/reference-yaml.png
  release-team/role-handbooks/docs/pics/update-api-index.png
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/important-longterm, sig/release, size/L

#1374 Fix links to "Test Freeze"
  releases/release_phases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1376 Update the docs role handbook
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1371 Release notes draft v1.20.0 rc.0
  releases/release-1.20/release-notes-draft.md
  releases/release-1.20/release-notes/maps/pr-95098-map.yaml
  releases/release-1.20/release-notes/maps/pr-95412-map.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1378 Update release-notes-draft.md
  releases/release-1.20/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1370 cleanup missing hyperlink
  releases/release-1.20/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1379 Add 1.20 mascot
  releases/release-1.20/README.md
  releases/release-1.20/blepurrnetes.png
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1383 Update the docs handbook
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1384 patches/schedule: add January 2021 patch schedule
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/M

#1385 Clarify changes required for configuration in the docs role handbook
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1386 Clean up docs role handbook
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1348 Adds generated ci-status updates for 1.20 burn down meeting
  releases/release-1.20/meeting-updates/ci-status/rel-full.md
  releases/release-1.20/meeting-updates/ci-status/rel-summary.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1391 Add refs to documentation style guide
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1231 Updated shadow.md, fixed Role handbook url
  release-team/shadows.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS, tide/merge-method-squash

#1397 patches/schedule: update January 2021 patch schedule and special patch release for december
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1398 Update priority link in Bug-Triage Handbook
  release-team/role-handbooks/bug-triage/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1399 Update weight for release 1.20 info
  releases/release-1.20/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS
