Repository kubernetes/sig-release, pull requests merged in 2020-02, with the labels that each got.

#976 Add Kubernetes 1.18 Exceptions File
  releases/release-1.18/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#977 Update enhancements handbook
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#979 Release Notes draft for k/k v1.18.0-alpha.3
  releases/release-1.18/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/L

#981 Update 1.18 Exceptions - Feb 06
  releases/release-1.18/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#980 .github: Add PR/issue templates and security notice
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#983 add presubmits-kubernetes-blocking to ci-signal role handbook
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#982 Update release notes handbook to reflect alpha, beta and rc releases
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/M

#984 Add docs on how to detect flaky presubmits
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, sig/release, size/XS

#991 packaging: Bump k/release tag for Build Admins to v0.1.4
  release-engineering/packaging.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, size/S

#992 Release Notes draft for k/k v1.18.0-alpha.5
  releases/release-1.18/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/L

#993 release-managers: add Daniel Mangum @hasheddan as release associate
  release-managers.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#986 Add external communication explanation
  release-team/role-handbooks/communications/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#994 gcbmgr doc: add example in how to use the --buildversion with dl.k8s.io/ci/latest*.txt artifact
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#997 Release Notes draft for k/k v1.18.0-beta.0
  releases/release-1.18/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#996 Update patch release schedule for 2020-03
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1004 Release Notes draft for k/k v1.18.0-beta.1
  releases/release-1.18/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M
