Repository kubernetes/sig-release, pull requests merged in 2021-02, with the labels that each got.

#1444 Refine tier 3 platform support definition
  release-engineering/platforms.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1448 releng: add new GCP project for RelEng
  release-engineering/gcp.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1451 Dedicated "platforms" release-engineering subdir and move guide from k/community
  release-engineering/platforms/README.md
  release-engineering/platforms/guide.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/L

#1453 Refine platforms guide
  release-engineering/platforms/guide.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1449 add walkthrough video link to ci signal handbook
  release-team/role-handbooks/ci-signal/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1461 Remove licensing owners
  OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1460 Fixing some typos in EXCEPTIONS.md
  releases/EXCEPTIONS.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1463 Update release notes draft to version v1.21.0-alpha.3
  releases/release-1.21/release-notes-draft.json
  releases/release-1.21/release-notes-draft.md
  releases/release-1.21/release-notes/maps/pr-97408-map.yaml
  releases/release-1.21/release-notes/maps/pr-97877-map.yaml
  releases/release-1.21/release-notes/maps/pr-97935-map.yaml
  releases/release-1.21/release-notes/maps/pr-98169-map.yaml
  releases/release-1.21/release-notes/maps/pr-98526-map.yaml
  releases/release-1.21/release-notes/sessions/maps-1613148639.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1450 Updated documentation with recent links for Kubernetes release and fix few small spelling erros.
  release-team/role-handbooks/release-notes/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1458 Adding comms timeline
  releases/release-1.21/README.md
  releases/release_phases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/S

#1462 Update release notes draft to version v1.21.0-alpha.2
  releases/release-1.21/release-notes/maps/pr-96691-map.yaml
  releases/release-1.21/release-notes/maps/pr-96877-map.yaml
  releases/release-1.21/release-notes/maps/pr-97193-map.yaml
  releases/release-1.21/release-notes/maps/pr-97543-map.yaml
  releases/release-1.21/release-notes/sessions/maps-1613064376.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1468 Migrate 1.21 release-notes-draft to release-notes/
  releases/release-1.21/release-notes-draft.md
  releases/release-1.21/release-notes/OWNERS
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/L

#1473 releases/* move AishSundar to emeritus
  releases/release-1.11/OWNERS
  releases/release-1.12/OWNERS
  releases/release-1.13/OWNERS
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1472 Update release notes draft to version v1.21.0-alpha.3
  releases/release-1.21/release-notes/maps/pr-96021-map.yaml
  releases/release-1.21/release-notes/maps/pr-97395-map.yaml
  releases/release-1.21/release-notes/maps/pr-98205-map.yaml
  releases/release-1.21/release-notes/maps/pr-98243-map.yaml
  releases/release-1.21/release-notes/maps/pr-98259-map.yaml
  releases/release-1.21/release-notes/maps/pr-98324-map.yaml
  releases/release-1.21/release-notes/maps/pr-98715-map.yaml
  releases/release-1.21/release-notes/maps/pr-98750-map.yaml
  releases/release-1.21/release-notes/maps/pr-98839-map.yaml
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
  releases/release-1.21/release-notes/sessions/maps-1613796286.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1476 Add reviews for existing release notes of 1.21.0-alpha.3
  releases/release-1.21/release-notes/maps/pr-97543-map.yaml
  releases/release-1.21/release-notes/maps/pr-98203-map.yaml
  releases/release-1.21/release-notes/maps/pr-98576-map.yaml
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
  releases/release-1.21/release-notes/sessions/maps-1614113940.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1477 Update release notes draft to version v1.21.0-beta.0
  releases/release-1.21/release-notes/maps/pr-93861-map.yaml
  releases/release-1.21/release-notes/maps/pr-98001-map.yaml
  releases/release-1.21/release-notes/maps/pr-98643-map.yaml
  releases/release-1.21/release-notes/maps/pr-98911-map.yaml
  releases/release-1.21/release-notes/maps/pr-99045-map.yaml
  releases/release-1.21/release-notes/maps/pr-99242-map.yaml
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
  releases/release-1.21/release-notes/sessions/maps-1614191410.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1480 Update milestone maintainers section to reflect change in access
  release-team/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1479 Update release notes draft to version v1.21.0-beta.0
  releases/release-1.21/release-notes/maps/pr-97431-map.yaml
  releases/release-1.21/release-notes/maps/pr-97888-map.yaml
  releases/release-1.21/release-notes/maps/pr-98033-map.yaml
  releases/release-1.21/release-notes/maps/pr-98201-map.yaml
  releases/release-1.21/release-notes/maps/pr-98301-map.yaml
  releases/release-1.21/release-notes/maps/pr-98305-map.yaml
  releases/release-1.21/release-notes/maps/pr-98358-map.yaml
  releases/release-1.21/release-notes/maps/pr-98458-map.yaml
  releases/release-1.21/release-notes/maps/pr-98676-map.yaml
  releases/release-1.21/release-notes/maps/pr-98678-map.yaml
  releases/release-1.21/release-notes/maps/pr-98730-map.yaml
  releases/release-1.21/release-notes/maps/pr-98878-map.yaml
  releases/release-1.21/release-notes/maps/pr-98931-map.yaml
  releases/release-1.21/release-notes/maps/pr-98969-map.yaml
  releases/release-1.21/release-notes/maps/pr-98990-map.yaml
  releases/release-1.21/release-notes/maps/pr-99001-map.yaml
  releases/release-1.21/release-notes/maps/pr-99068-map.yaml
  releases/release-1.21/release-notes/maps/pr-99127-map.yaml
  releases/release-1.21/release-notes/maps/pr-99194-map.yaml
  releases/release-1.21/release-notes/maps/pr-99217-map.yaml
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
  releases/release-1.21/release-notes/sessions/maps-1614244932.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L
