Repository kubernetes/sig-release, pull requests merged in 2021-03, with the labels that each got.

#1482 Add Wilson Husin as a Release Manager Associate
  release-managers.md
Labels: approved, cncf-cla: yes, kind/documentation, kind/feature, lgtm, needs-priority, sig/release, size/XS

#1484 Add assigned Release Managers to 1.21 schedule
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1487 Update release notes draft to version v1.21.0-beta.1
  releases/release-1.21/release-notes/maps/pr-83730-map.yaml
  releases/release-1.21/release-notes/maps/pr-96655-map.yaml
  releases/release-1.21/release-notes/maps/pr-97216-map.yaml
  releases/release-1.21/release-notes/maps/pr-98074-map.yaml
  releases/release-1.21/release-notes/maps/pr-98116-map.yaml
  releases/release-1.21/release-notes/maps/pr-98946-map.yaml
  releases/release-1.21/release-notes/maps/pr-99163-map.yaml
  releases/release-1.21/release-notes/maps/pr-99236-map.yaml
  releases/release-1.21/release-notes/maps/pr-99585-map.yaml
  releases/release-1.21/release-notes/maps/pr-99607-map.yaml
  releases/release-1.21/release-notes/maps/pr-99662-map.yaml
  releases/release-1.21/release-notes/maps/pr-99732-map.yaml
  releases/release-1.21/release-notes/maps/pr-99788-map.yaml
  releases/release-1.21/release-notes/maps/pr-99838-map.yaml
  releases/release-1.21/release-notes/maps/pr-99870-map.yaml
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
  releases/release-1.21/release-notes/sessions/maps-1615296762.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1488 Update and clarify Code / Test Freeze and Thaw
  releases/code-freeze-code-thaw.svg
  releases/release_phases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1403 updated 1.20 exceptions.yaml for code freeze
  releases/release-1.20/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/release, size/L

#1493 Move versioning docs into release-engineering
  README.md
  release-engineering/versioning.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1498 Remove "next patch release is X" lines
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1499 patches: update schedule for April cycle
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1500 release-1.21: correct weekdays for release deadlines
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1501 Release notes draft for k/k v1.21.0-beta.1
  releases/release-1.21/release-notes/maps/pr-96293-map.yaml
  releases/release-1.21/release-notes/maps/pr-97686-map.yaml
  releases/release-1.21/release-notes/maps/pr-98257-map.yaml
  releases/release-1.21/release-notes/maps/pr-98277-map.yaml
  releases/release-1.21/release-notes/maps/pr-98376-map.yaml
  releases/release-1.21/release-notes/maps/pr-98546-map.yaml
  releases/release-1.21/release-notes/maps/pr-98952-map.yaml
  releases/release-1.21/release-notes/maps/pr-98968-map.yaml
  releases/release-1.21/release-notes/maps/pr-99060-map.yaml
  releases/release-1.21/release-notes/maps/pr-99158-map.yaml
  releases/release-1.21/release-notes/maps/pr-99275-map.yaml
  releases/release-1.21/release-notes/maps/pr-99294-map.yaml
  releases/release-1.21/release-notes/maps/pr-99341-map.yaml
  releases/release-1.21/release-notes/maps/pr-99550-map.yaml
  releases/release-1.21/release-notes/maps/pr-99641-map.yaml
  releases/release-1.21/release-notes/maps/pr-99651-map.yaml
  releases/release-1.21/release-notes/maps/pr-99654-map.yaml
  releases/release-1.21/release-notes/maps/pr-99658-map.yaml
  releases/release-1.21/release-notes/maps/pr-99735-map.yaml
  releases/release-1.21/release-notes/maps/pr-99746-map.yaml
  releases/release-1.21/release-notes/release-notes-draft.json
  releases/release-1.21/release-notes/release-notes-draft.md
  releases/release-1.21/release-notes/sessions/maps-1616512737.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L
