Repository kubernetes/sig-release, pull requests merged in 2021-04, with the labels that each got.

#1502 Kubernetes 1.21 Major Themes
  releases/release-1.21/release-notes/major-themes.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/M

#1509 Hyperlink from v1.21 major themes to to docs about structured logging
  releases/release-1.21/release-notes/major-themes.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/docs, sig/node, sig/release, size/XS

#1510 Reword release note about PodSecurityPolicy deprecation
  releases/release-1.21/release-notes/major-themes.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, priority/important-soon, sig/release, size/XS

#1508 Integrate 1.21 major themes to release notes draft
  releases/release-1.21/release-notes-draft.md
  releases/release-1.21/release-notes/major-themes.md
  releases/release-1.21/release-notes/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/XL

#1512 Add known issue on TopologyAwareHints for 1.21
  releases/release-1.21/release-notes-draft.md
  releases/release-1.21/release-notes/release-notes-draft.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, size/S

#1506 Add exception.yaml for 1.21
  releases/release-1.21/exceptions.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/L

#1516 release-1.21: update theme
  releases/release-1.21/README.md
  releases/release-1.21/logos/globe_250px.png
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1515 Add 1.21 to the patch releases schedule
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1109 releng: Initial commit of Golang update handbook
  release-engineering/handbooks/go.md
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1523 patches: update schedule for May cycle and remove 1.18 schedule
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/L

#1410 Update Docs Release Timeline after the 1.21 release
  release-team/role-handbooks/docs/Release-Timeline.md
  release-team/role-handbooks/docs/pics/netlify-delete-old-site.png
  release-team/role-handbooks/docs/pics/netlify-update-vnext.png
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1517 Update the Enhancements role handbook to match the new opt-in process
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1531 Adding Release 1.22 directory with Owners file and release team information
  releases/release-1.22/OWNERS
  releases/release-1.22/README.md
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1532 patches: Add maintenance mode dates, updated EOLs, and final v1.18 release
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, kind/feature, lgtm, needs-priority, sig/release, size/M

#1534 Add link to 1.22 enhancements tracking sheet
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1525 Add Release Team Diagram
  release-team/README.md
  release-team/release-team.svg
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1536 Release-1.22: update OWNER_ALIASES
  OWNERS_ALIASES
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/S

#1530 Schedule for 1.22 release
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1535 Fix typo in 1.20 maintenance mode date
  releases/patch-releases.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1537 Update shadow doc to include a blub about selections
  release-team/shadows.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1538 Offboard gianarb from release manager associate aliases
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1539 Add puerco as 1.22 branch manager
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1540 Add v1.22-alpha.1 date
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1541 Add 1.22 enhancements shadows
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1542 Update release-team.md
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1543 Clarify SIG leads access to tracking sheet
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1544 Adding Release notes shadow details
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1545 Add 1.22 CI Signal shadows
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1546 release v1.22/team: Add SIG Docs release team.
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1524 Update release cut issue template
  .github/ISSUE_TEMPLATE/cut-release.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1548 Add Bug Triage Shadows v1.22
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1550 Adding comms shadow 1.22
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1551 Add v1.22 Pre-release schedule
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1552 Updating 1.22 schedule with final deadlines
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/S

#1553 Adding the right GitHub id for Jesse Butler in the 1.22 Relase-team.md file
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, sig/release, size/XS

#1555 docs/sig-release: Move link url under github handle instead of the name.
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS
