Repository kubernetes/sig-release, pull requests merged in 2021-01, with the labels that each got.

#1402 Update Docs role-handbook release-timeline.md to track KEP reviewer/approvers for a tech review
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/S

#1407 release-1.21: update OWNER_ALIASES
  OWNERS_ALIASES
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/critical-urgent, sig/release, size/S

#1405 Bootstrap Release 1.21 directory
  releases/release-1.21/OWNERS
  releases/release-1.21/README.md
  releases/release-1.21/release_team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1408 release-1.21: rename release_team.md to release-team.md
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1409 update access reqs for enhancements handbook
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1411 Add 1.21 tracking sheet link to the 1.21 release doc
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1406 Update the enhancements handbook to collect enhancement via opt-in process
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1413 release-1.21: update release schedule with docs deadlines
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, kind/feature, lgtm, needs-priority, sig/release, size/XS

#1414 Add 1.21 prerelease dates to calendar
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1415 release-1.20: add release retrospective date
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, kind/feature, lgtm, priority/critical-urgent, sig/release, size/S

#1422 Update release-team.md with Communications shadows for v 1.21
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1424 patch: update patch release schedule for February cycle
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/L

#1412 Wrap up licensing subproject
  licensing/OWNERS
  licensing/README.md
Labels: approved, area/licensing, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/S

#1425 Add 1.21 Enhancement shadows to the release team
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1401 Update SECURITY_CONTACTS
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1428 Add release notes shadows for 1.21 release team
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1427 Update the enhancements role handbook
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1429 Add 1.21 Bug Triage shadows to the release team
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1430 Add release notes schedule for 1.21
  releases/release-1.21/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1426 Updates to Branch Manager Handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1431 Add 1.21 CI signal shadows to release team
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1432 Add 1.21 Docs shadows to the release team
  releases/release-1.21/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1433 Update release tarball contents and remove hyperkube and cloud-controller-manager
  release-engineering/artifacts.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1423 Minor Comms handbook update
  release-team/role-handbooks/communications/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, sig/release, size/XS

#1434 Update release notes draft to version v1.21.0-alpha.1
  releases/release-1.21/release-notes-draft.json
  releases/release-1.21/release-notes-draft.md
  releases/release-1.21/release-notes/maps/pr-91592-map.yaml
  releases/release-1.21/release-notes/maps/pr-92817-map.yaml
  releases/release-1.21/release-notes/maps/pr-93920-map.yaml
  releases/release-1.21/release-notes/maps/pr-94858-map.yaml
  releases/release-1.21/release-notes/maps/pr-96539-map.yaml
  releases/release-1.21/release-notes/maps/pr-96689-map.yaml
  releases/release-1.21/release-notes/maps/pr-97011-map.yaml
  releases/release-1.21/release-notes/maps/pr-97096-map.yaml
  releases/release-1.21/release-notes/maps/pr-97115-map.yaml
  releases/release-1.21/release-notes/maps/pr-97148-map.yaml
  releases/release-1.21/release-notes/maps/pr-97244-map.yaml
  releases/release-1.21/release-notes/maps/pr-97336-map.yaml
  releases/release-1.21/release-notes/maps/pr-97543-map.yaml
  releases/release-1.21/release-notes/maps/pr-97627-map.yaml
  releases/release-1.21/release-notes/maps/pr-97754-map.yaml
  releases/release-1.21/release-notes/sessions/maps-1611085134.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1360 Add platforms documentation
  release-engineering/platforms.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1439 Update release notes draft to version v1.21.0-alpha.2
  releases/release-1.21/release-notes-draft.json
  releases/release-1.21/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1440 Update release-managers.md
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1441 Update release-managers.md
  release-managers.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/XS

#1443 kube-controller-manager is already distroless
  release-engineering/baseimage-exception-list.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS
