Repository kubernetes/sig-release, pull requests merged in 2021-06, with the labels that each got.

#1587 Correct wrong v1.22 prerelease dates
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1592 owners: add puerco/cpanato to the sig-release-leads
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1591 Update 1.22 comms team
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/XS

#1593 Quick fix for the yaml file parsing
  releases/release-1.22/release-notes/maps/pr-101496-map.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/bug, lgtm, needs-priority, sig/release, size/XS

#1594 Update release notes draft to version v1.22.0-alpha.3
  releases/release-1.22/release-notes/maps/pr-100136-map.yaml
  releases/release-1.22/release-notes/maps/pr-100142-map.yaml
  releases/release-1.22/release-notes/maps/pr-100292-map.yaml
  releases/release-1.22/release-notes/maps/pr-100435-map.yaml
  releases/release-1.22/release-notes/maps/pr-100608-map.yaml
  releases/release-1.22/release-notes/maps/pr-100651-map.yaml
  releases/release-1.22/release-notes/maps/pr-100842-map.yaml
  releases/release-1.22/release-notes/maps/pr-100939-map.yaml
  releases/release-1.22/release-notes/maps/pr-101082-map.yaml
  releases/release-1.22/release-notes/maps/pr-101272-map.yaml
  releases/release-1.22/release-notes/maps/pr-101394-map.yaml
  releases/release-1.22/release-notes/maps/pr-101510-map.yaml
  releases/release-1.22/release-notes/maps/pr-101587-map.yaml
  releases/release-1.22/release-notes/maps/pr-101647-map.yaml
  releases/release-1.22/release-notes/maps/pr-101742-map.yaml
  releases/release-1.22/release-notes/maps/pr-101862-map.yaml
  releases/release-1.22/release-notes/maps/pr-101923-map.yaml
  releases/release-1.22/release-notes/maps/pr-101992-map.yaml
  releases/release-1.22/release-notes/maps/pr-102039-map.yaml
  releases/release-1.22/release-notes/maps/pr-102059-map.yaml
  releases/release-1.22/release-notes/maps/pr-102063-map.yaml
  releases/release-1.22/release-notes/maps/pr-102067-map.yaml
  releases/release-1.22/release-notes/maps/pr-102133-map.yaml
  releases/release-1.22/release-notes/maps/pr-102147-map.yaml
  releases/release-1.22/release-notes/maps/pr-102171-map.yaml
  releases/release-1.22/release-notes/maps/pr-102176-map.yaml
  releases/release-1.22/release-notes/maps/pr-102193-map.yaml
  releases/release-1.22/release-notes/maps/pr-102201-map.yaml
  releases/release-1.22/release-notes/maps/pr-102239-map.yaml
  releases/release-1.22/release-notes/maps/pr-102297-map.yaml
  releases/release-1.22/release-notes/maps/pr-102302-map.yaml
  releases/release-1.22/release-notes/maps/pr-102323-map.yaml
  releases/release-1.22/release-notes/maps/pr-102328-map.yaml
  releases/release-1.22/release-notes/maps/pr-102332-map.yaml
  releases/release-1.22/release-notes/maps/pr-102363-map.yaml
  releases/release-1.22/release-notes/maps/pr-102377-map.yaml
  releases/release-1.22/release-notes/maps/pr-102412-map.yaml
  releases/release-1.22/release-notes/maps/pr-102461-map.yaml
  releases/release-1.22/release-notes/maps/pr-102467-map.yaml
  releases/release-1.22/release-notes/maps/pr-102489-map.yaml
  releases/release-1.22/release-notes/maps/pr-102498-map.yaml
  releases/release-1.22/release-notes/maps/pr-102502-map.yaml
  releases/release-1.22/release-notes/maps/pr-102509-map.yaml
  releases/release-1.22/release-notes/maps/pr-102516-map.yaml
  releases/release-1.22/release-notes/maps/pr-102529-map.yaml
  releases/release-1.22/release-notes/maps/pr-102539-map.yaml
  releases/release-1.22/release-notes/maps/pr-102590-map.yaml
  releases/release-1.22/release-notes/maps/pr-102620-map.yaml
  releases/release-1.22/release-notes/maps/pr-90368-map.yaml
  releases/release-1.22/release-notes/maps/pr-92739-map.yaml
  releases/release-1.22/release-notes/maps/pr-98077-map.yaml
  releases/release-1.22/release-notes/maps/pr-98350-map.yaml
  releases/release-1.22/release-notes/maps/pr-99178-map.yaml
  releases/release-1.22/release-notes/maps/pr-99647-map.yaml
  releases/release-1.22/release-notes/release-notes-draft.json
  releases/release-1.22/release-notes/release-notes-draft.md
  releases/release-1.22/release-notes/sessions/maps-1623430674.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1607 Fix test-infra config.yaml link in branch manager handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1609 Update release notes draft to version v1.22.0-beta.0
  releases/release-1.22/release-notes/maps/pr-100085-map.yaml
  releases/release-1.22/release-notes/maps/pr-100350-map.yaml
  releases/release-1.22/release-notes/maps/pr-100612-map.yaml
  releases/release-1.22/release-notes/maps/pr-100694-map.yaml
  releases/release-1.22/release-notes/maps/pr-100784-map.yaml
  releases/release-1.22/release-notes/maps/pr-100907-map.yaml
  releases/release-1.22/release-notes/maps/pr-101752-map.yaml
  releases/release-1.22/release-notes/maps/pr-101773-map.yaml
  releases/release-1.22/release-notes/maps/pr-101857-map.yaml
  releases/release-1.22/release-notes/maps/pr-101915-map.yaml
  releases/release-1.22/release-notes/maps/pr-102083-map.yaml
  releases/release-1.22/release-notes/maps/pr-102443-map.yaml
  releases/release-1.22/release-notes/maps/pr-102673-map.yaml
  releases/release-1.22/release-notes/maps/pr-102683-map.yaml
  releases/release-1.22/release-notes/maps/pr-102825-map.yaml
  releases/release-1.22/release-notes/maps/pr-102892-map.yaml
  releases/release-1.22/release-notes/maps/pr-102935-map.yaml
  releases/release-1.22/release-notes/maps/pr-102965-map.yaml
  releases/release-1.22/release-notes/maps/pr-96959-map.yaml
  releases/release-1.22/release-notes/maps/pr-99915-map.yaml
  releases/release-1.22/release-notes/release-notes-draft.json
  releases/release-1.22/release-notes/release-notes-draft.md
  releases/release-1.22/release-notes/sessions/maps-1625055206.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL
