Repository kubernetes/sig-release, pull requests merged in 2021-09, with the labels that each got.

#1689 Fix release team link
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1673 Document timeliness of exception request as assessment criteria
  releases/EXCEPTIONS.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team, needs-priority

#1690 Release-1.23: fix link in 1.23 README.md
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1691 Add OWNERS to 1.23 release notes dir
  releases/release-1.23/release-notes/OWNERS
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1692 Correct the slack name of release-notes shadow
  releases/release-1.23/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1694 Release 1.23: update 1.23 team with shadows for enhancements, bug triage, ci signal, comms
  releases/release-1.23/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1688 release-1.23: update branch cut deadlines
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#1697 Add Branch Managers to the v1.23 release team
  releases/release-1.23/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1693 Docs release team: Update Docs handbook release timeline to align change in k/website to use main branch
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1698 Update release notes draft to version v1.23.0-alpha.1
  releases/release-1.23/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1699 Add permission management to release notes handbook
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1706 Release-1.23: update first retro for 1.23 to week 11
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1712 Update release notes draft to version v1.23.0-alpha.2
  releases/release-1.23/release-notes/maps/pr-100720-map.yaml
  releases/release-1.23/release-notes/maps/pr-101928-map.yaml
  releases/release-1.23/release-notes/maps/pr-103178-map.yaml
  releases/release-1.23/release-notes/maps/pr-103231-map.yaml
  releases/release-1.23/release-notes/maps/pr-103515-map.yaml
  releases/release-1.23/release-notes/maps/pr-103692-map.yaml
  releases/release-1.23/release-notes/maps/pr-103751-map.yaml
  releases/release-1.23/release-notes/maps/pr-103758-map.yaml
  releases/release-1.23/release-notes/maps/pr-103794-map.yaml
  releases/release-1.23/release-notes/maps/pr-103941-map.yaml
  releases/release-1.23/release-notes/maps/pr-104045-map.yaml
  releases/release-1.23/release-notes/maps/pr-104103-map.yaml
  releases/release-1.23/release-notes/maps/pr-104160-map.yaml
  releases/release-1.23/release-notes/maps/pr-104232-map.yaml
  releases/release-1.23/release-notes/maps/pr-104368-map.yaml
  releases/release-1.23/release-notes/maps/pr-104382-map.yaml
  releases/release-1.23/release-notes/maps/pr-104399-map.yaml
  releases/release-1.23/release-notes/maps/pr-104438-map.yaml
  releases/release-1.23/release-notes/maps/pr-104466-map.yaml
  releases/release-1.23/release-notes/maps/pr-104482-map.yaml
  releases/release-1.23/release-notes/maps/pr-104503-map.yaml
  releases/release-1.23/release-notes/maps/pr-104518-map.yaml
  releases/release-1.23/release-notes/maps/pr-104523-map.yaml
  releases/release-1.23/release-notes/maps/pr-104528-map.yaml
  releases/release-1.23/release-notes/maps/pr-104571-map.yaml
  releases/release-1.23/release-notes/maps/pr-104572-map.yaml
  releases/release-1.23/release-notes/maps/pr-104577-map.yaml
  releases/release-1.23/release-notes/maps/pr-104590-map.yaml
  releases/release-1.23/release-notes/maps/pr-104593-map.yaml
  releases/release-1.23/release-notes/maps/pr-104601-map.yaml
  releases/release-1.23/release-notes/maps/pr-104604-map.yaml
  releases/release-1.23/release-notes/maps/pr-104605-map.yaml
  releases/release-1.23/release-notes/maps/pr-104664-map.yaml
  releases/release-1.23/release-notes/maps/pr-104666-map.yaml
  releases/release-1.23/release-notes/maps/pr-104667-map.yaml
  releases/release-1.23/release-notes/maps/pr-104696-map.yaml
  releases/release-1.23/release-notes/maps/pr-104699-map.yaml
  releases/release-1.23/release-notes/maps/pr-104705-map.yaml
  releases/release-1.23/release-notes/maps/pr-104711-map.yaml
  releases/release-1.23/release-notes/maps/pr-104741-map.yaml
  releases/release-1.23/release-notes/maps/pr-104742-map.yaml
  releases/release-1.23/release-notes/maps/pr-104756-map.yaml
  releases/release-1.23/release-notes/maps/pr-104796-map.yaml
  releases/release-1.23/release-notes/maps/pr-104817-map.yaml
  releases/release-1.23/release-notes/maps/pr-104904-map.yaml
  releases/release-1.23/release-notes/maps/pr-104931-map.yaml
  releases/release-1.23/release-notes/maps/pr-104969-map.yaml
  releases/release-1.23/release-notes/maps/pr-104970-map.yaml
  releases/release-1.23/release-notes/maps/pr-92989-map.yaml
  releases/release-1.23/release-notes/maps/pr-96345-map.yaml
  releases/release-1.23/release-notes/maps/pr-96684-map.yaml
  releases/release-1.23/release-notes/maps/pr-97350-map.yaml
  releases/release-1.23/release-notes/maps/pr-99273-map.yaml
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
  releases/release-1.23/release-notes/sessions/maps-1632072296.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority
