Repository kubernetes/sig-release, pull requests merged in 2021-11, with the labels that each got.

#1732 Release-1.23: update links in 1.23 README
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/critical-urgent, sig/release, approved, needs-kind, area/release-team

#1518 Rewrite milestone maintainer
  release-team/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1581 Clarify enhancements lead time requirements
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1736 Update Release Team Selection doc about shadow selection
  release-team/release-team-selection.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1737 Update Emeritus Advisor handbook per 1.22 retro
  release-team/role-handbooks/emeritus-adviser/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, needs-kind, area/release-team, needs-priority

#1741 Improve release cut documentation and issue template
  .github/ISSUE_TEMPLATE/cut-release.md
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
  release-engineering/role-handbooks/release-image-promotion.md
Labels: cncf-cla: yes, size/M, lgtm, priority/important-soon, sig/release, approved, kind/documentation, kind/cleanup, area/release-eng

#1740 Update release notes draft to version v1.23.0-alpha.4
  releases/release-1.23/release-notes/maps/pr-100482-map.yaml
  releases/release-1.23/release-notes/maps/pr-104251-map.yaml
  releases/release-1.23/release-notes/maps/pr-104327-map.yaml
  releases/release-1.23/release-notes/maps/pr-104551-map.yaml
  releases/release-1.23/release-notes/maps/pr-104693-map.yaml
  releases/release-1.23/release-notes/maps/pr-104748-map.yaml
  releases/release-1.23/release-notes/maps/pr-104891-map.yaml
  releases/release-1.23/release-notes/maps/pr-104932-map.yaml
  releases/release-1.23/release-notes/maps/pr-105003-map.yaml
  releases/release-1.23/release-notes/maps/pr-105076-map.yaml
  releases/release-1.23/release-notes/maps/pr-105156-map.yaml
  releases/release-1.23/release-notes/maps/pr-105185-map.yaml
  releases/release-1.23/release-notes/maps/pr-105188-map.yaml
  releases/release-1.23/release-notes/maps/pr-105197-map.yaml
  releases/release-1.23/release-notes/maps/pr-105211-map.yaml
  releases/release-1.23/release-notes/maps/pr-105213-map.yaml
  releases/release-1.23/release-notes/maps/pr-105215-map.yaml
  releases/release-1.23/release-notes/maps/pr-105219-map.yaml
  releases/release-1.23/release-notes/maps/pr-105222-map.yaml
  releases/release-1.23/release-notes/maps/pr-105245-map.yaml
  releases/release-1.23/release-notes/maps/pr-105327-map.yaml
  releases/release-1.23/release-notes/maps/pr-105396-map.yaml
  releases/release-1.23/release-notes/maps/pr-105424-map.yaml
  releases/release-1.23/release-notes/maps/pr-105462-map.yaml
  releases/release-1.23/release-notes/maps/pr-105466-map.yaml
  releases/release-1.23/release-notes/maps/pr-105479-map.yaml
  releases/release-1.23/release-notes/maps/pr-105490-map.yaml
  releases/release-1.23/release-notes/maps/pr-105495-map.yaml
  releases/release-1.23/release-notes/maps/pr-105511-map.yaml
  releases/release-1.23/release-notes/maps/pr-105569-map.yaml
  releases/release-1.23/release-notes/maps/pr-105606-map.yaml
  releases/release-1.23/release-notes/maps/pr-105649-map.yaml
  releases/release-1.23/release-notes/maps/pr-105666-map.yaml
  releases/release-1.23/release-notes/maps/pr-105676-map.yaml
  releases/release-1.23/release-notes/maps/pr-105682-map.yaml
  releases/release-1.23/release-notes/maps/pr-105711-map.yaml
  releases/release-1.23/release-notes/maps/pr-105712-map.yaml
  releases/release-1.23/release-notes/maps/pr-105777-map.yaml
  releases/release-1.23/release-notes/maps/pr-105845-map.yaml
  releases/release-1.23/release-notes/maps/pr-105851-map.yaml
  releases/release-1.23/release-notes/maps/pr-105857-map.yaml
  releases/release-1.23/release-notes/maps/pr-105888-map.yaml
  releases/release-1.23/release-notes/maps/pr-105896-map.yaml
  releases/release-1.23/release-notes/maps/pr-105898-map.yaml
  releases/release-1.23/release-notes/maps/pr-105908-map.yaml
  releases/release-1.23/release-notes/maps/pr-105913-map.yaml
  releases/release-1.23/release-notes/maps/pr-105915-map.yaml
  releases/release-1.23/release-notes/maps/pr-105980-map.yaml
  releases/release-1.23/release-notes/maps/pr-105999-map.yaml
  releases/release-1.23/release-notes/maps/pr-95128-map.yaml
  releases/release-1.23/release-notes/maps/pr-97415-map.yaml
  releases/release-1.23/release-notes/maps/pr-99557-map.yaml
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
  releases/release-1.23/release-notes/sessions/maps-1636752000.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1750 Update release notes draft to version v1.23.0-alpha.4
  releases/release-1.23/release-notes/maps/pr-101928-map.yaml
  releases/release-1.23/release-notes/maps/pr-102015-map.yaml
  releases/release-1.23/release-notes/maps/pr-102945-map.yaml
  releases/release-1.23/release-notes/maps/pr-103917-map.yaml
  releases/release-1.23/release-notes/maps/pr-103958-map.yaml
  releases/release-1.23/release-notes/maps/pr-104601-map.yaml
  releases/release-1.23/release-notes/maps/pr-104631-map.yaml
  releases/release-1.23/release-notes/maps/pr-104744-map.yaml
  releases/release-1.23/release-notes/maps/pr-104782-map.yaml
  releases/release-1.23/release-notes/maps/pr-104873-map.yaml
  releases/release-1.23/release-notes/maps/pr-104877-map.yaml
  releases/release-1.23/release-notes/maps/pr-104894-map.yaml
  releases/release-1.23/release-notes/maps/pr-104908-map.yaml
  releases/release-1.23/release-notes/maps/pr-104915-map.yaml
  releases/release-1.23/release-notes/maps/pr-105012-map.yaml
  releases/release-1.23/release-notes/maps/pr-105042-map.yaml
  releases/release-1.23/release-notes/maps/pr-105107-map.yaml
  releases/release-1.23/release-notes/maps/pr-105156-map.yaml
  releases/release-1.23/release-notes/maps/pr-105215-map.yaml
  releases/release-1.23/release-notes/maps/pr-105253-map.yaml
  releases/release-1.23/release-notes/maps/pr-105267-map.yaml
  releases/release-1.23/release-notes/maps/pr-105352-map.yaml
  releases/release-1.23/release-notes/maps/pr-105405-map.yaml
  releases/release-1.23/release-notes/maps/pr-105445-map.yaml
  releases/release-1.23/release-notes/maps/pr-105474-map.yaml
  releases/release-1.23/release-notes/maps/pr-105484-map.yaml
  releases/release-1.23/release-notes/maps/pr-105563-map.yaml
  releases/release-1.23/release-notes/maps/pr-105609-map.yaml
  releases/release-1.23/release-notes/maps/pr-105631-map.yaml
  releases/release-1.23/release-notes/maps/pr-105673-map.yaml
  releases/release-1.23/release-notes/maps/pr-105682-map.yaml
  releases/release-1.23/release-notes/maps/pr-105687-map.yaml
  releases/release-1.23/release-notes/maps/pr-105734-map.yaml
  releases/release-1.23/release-notes/maps/pr-105839-map.yaml
  releases/release-1.23/release-notes/maps/pr-105855-map.yaml
  releases/release-1.23/release-notes/maps/pr-105931-map.yaml
  releases/release-1.23/release-notes/maps/pr-92433-map.yaml
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
  releases/release-1.23/release-notes/sessions/maps-1637187438.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1752 Update release notes draft to version v1.23.0-alpha.4
  releases/release-1.23/release-notes/maps/pr-97415-map.yaml
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1754 Update release notes draft to version v1.23.0-beta.0
  releases/release-1.23/release-notes/maps/pr-103095-map.yaml
  releases/release-1.23/release-notes/maps/pr-103526-map.yaml
  releases/release-1.23/release-notes/maps/pr-104636-map.yaml
  releases/release-1.23/release-notes/maps/pr-104722-map.yaml
  releases/release-1.23/release-notes/maps/pr-104792-map.yaml
  releases/release-1.23/release-notes/maps/pr-105140-map.yaml
  releases/release-1.23/release-notes/maps/pr-105295-map.yaml
  releases/release-1.23/release-notes/maps/pr-105421-map.yaml
  releases/release-1.23/release-notes/maps/pr-105773-map.yaml
  releases/release-1.23/release-notes/maps/pr-105776-map.yaml
  releases/release-1.23/release-notes/maps/pr-105794-map.yaml
  releases/release-1.23/release-notes/maps/pr-105885-map.yaml
  releases/release-1.23/release-notes/maps/pr-105940-map.yaml
  releases/release-1.23/release-notes/maps/pr-105945-map.yaml
  releases/release-1.23/release-notes/maps/pr-106058-map.yaml
  releases/release-1.23/release-notes/maps/pr-106089-map.yaml
  releases/release-1.23/release-notes/maps/pr-106098-map.yaml
  releases/release-1.23/release-notes/maps/pr-106219-map.yaml
  releases/release-1.23/release-notes/maps/pr-106271-map.yaml
  releases/release-1.23/release-notes/maps/pr-106301-map.yaml
  releases/release-1.23/release-notes/maps/pr-106317-map.yaml
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
  releases/release-1.23/release-notes/sessions/maps-1637365719.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1756 releng: Update image promotion process to reference `kpromo pr`
  release-engineering/role-handbooks/release-image-promotion.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-eng, needs-priority

#1759 releng: Migrate image promotion docs to sigs.k8s.io/promo-tools
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/release-image-promotion.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, kind/cleanup, area/release-eng, needs-priority

#1760 Update release notes draft to version v1.23.0-rc.0
  releases/release-1.23/release-notes/maps/pr-102915-map.yaml
  releases/release-1.23/release-notes/maps/pr-105916-map.yaml
  releases/release-1.23/release-notes/maps/pr-106501-map.yaml
  releases/release-1.23/release-notes/maps/pr-106507-map.yaml
  releases/release-1.23/release-notes/maps/pr-106510-map.yaml
  releases/release-1.23/release-notes/maps/pr-106520-map.yaml
  releases/release-1.23/release-notes/maps/pr-99728-map.yaml
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
  releases/release-1.23/release-notes/sessions/maps-1637950799.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1761 Update release notes draft to version v1.23.0-rc.0
  releases/release-1.23/release-notes/release-notes-draft.json
  releases/release-1.23/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority
