Repository kubernetes/sig-release, pull requests merged in 2021-05, with the labels that each got.

#1556 Update release notes draft to version v1.22.0-alpha.1
  releases/release-1.22/release-notes-draft.json
  releases/release-1.22/release-notes-draft.md
  releases/release-1.22/release-notes/OWNERS
  releases/release-1.22/release-notes/maps/pr-100100-map.yaml
  releases/release-1.22/release-notes/maps/pr-100139-map.yaml
  releases/release-1.22/release-notes/maps/pr-100148-map.yaml
  releases/release-1.22/release-notes/maps/pr-100206-map.yaml
  releases/release-1.22/release-notes/maps/pr-100267-map.yaml
  releases/release-1.22/release-notes/maps/pr-100599-map.yaml
  releases/release-1.22/release-notes/maps/pr-100638-map.yaml
  releases/release-1.22/release-notes/maps/pr-100694-map.yaml
  releases/release-1.22/release-notes/maps/pr-100913-map.yaml
  releases/release-1.22/release-notes/maps/pr-100959-map.yaml
  releases/release-1.22/release-notes/maps/pr-100976-map.yaml
  releases/release-1.22/release-notes/maps/pr-101048-map.yaml
  releases/release-1.22/release-notes/maps/pr-101080-map.yaml
  releases/release-1.22/release-notes/maps/pr-101084-map.yaml
  releases/release-1.22/release-notes/maps/pr-101093-map.yaml
  releases/release-1.22/release-notes/maps/pr-101110-map.yaml
  releases/release-1.22/release-notes/maps/pr-101129-map.yaml
  releases/release-1.22/release-notes/maps/pr-101151-map.yaml
  releases/release-1.22/release-notes/maps/pr-101171-map.yaml
  releases/release-1.22/release-notes/maps/pr-101186-map.yaml
  releases/release-1.22/release-notes/maps/pr-101271-map.yaml
  releases/release-1.22/release-notes/maps/pr-101377-map.yaml
  releases/release-1.22/release-notes/maps/pr-95286-map.yaml
  releases/release-1.22/release-notes/maps/pr-96959-map.yaml
  releases/release-1.22/release-notes/maps/pr-99069-map.yaml
  releases/release-1.22/release-notes/maps/pr-99336-map.yaml
  releases/release-1.22/release-notes/maps/pr-99358-map.yaml
  releases/release-1.22/release-notes/maps/pr-99775-map.yaml
  releases/release-1.22/release-notes/maps/pr-99900-map.yaml
  releases/release-1.22/release-notes/sessions/maps-1619943649.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL

#1557 Update release notes draft to version v1.22.0-alpha.1
  releases/release-1.22/release-notes/release-notes-draft.json
  releases/release-1.22/release-notes/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1558 Adding last batch of release-notes for release-notes-draft-v1.22.0-alp…
  releases/release-1.22/release-notes/maps/pr-100085-map.yaml
  releases/release-1.22/release-notes/maps/pr-100141-map.yaml
  releases/release-1.22/release-notes/maps/pr-100200-map.yaml
  releases/release-1.22/release-notes/maps/pr-100404-map.yaml
  releases/release-1.22/release-notes/maps/pr-100500-map.yaml
  releases/release-1.22/release-notes/maps/pr-100644-map.yaml
  releases/release-1.22/release-notes/maps/pr-100678-map.yaml
  releases/release-1.22/release-notes/maps/pr-100684-map.yaml
  releases/release-1.22/release-notes/maps/pr-100724-map.yaml
  releases/release-1.22/release-notes/maps/pr-100728-map.yaml
  releases/release-1.22/release-notes/maps/pr-100784-map.yaml
  releases/release-1.22/release-notes/maps/pr-100861-map.yaml
  releases/release-1.22/release-notes/maps/pr-100907-map.yaml
  releases/release-1.22/release-notes/maps/pr-100944-map.yaml
  releases/release-1.22/release-notes/maps/pr-101076-map.yaml
  releases/release-1.22/release-notes/maps/pr-101120-map.yaml
  releases/release-1.22/release-notes/maps/pr-101160-map.yaml
  releases/release-1.22/release-notes/maps/pr-101181-map.yaml
  releases/release-1.22/release-notes/maps/pr-101203-map.yaml
  releases/release-1.22/release-notes/maps/pr-101235-map.yaml
  releases/release-1.22/release-notes/maps/pr-101342-map.yaml
  releases/release-1.22/release-notes/maps/pr-101398-map.yaml
  releases/release-1.22/release-notes/maps/pr-101411-map.yaml
  releases/release-1.22/release-notes/maps/pr-101436-map.yaml
  releases/release-1.22/release-notes/maps/pr-101441-map.yaml
  releases/release-1.22/release-notes/maps/pr-68004-map.yaml
  releases/release-1.22/release-notes/maps/pr-99095-map.yaml
  releases/release-1.22/release-notes/maps/pr-99566-map.yaml
  releases/release-1.22/release-notes/maps/pr-99729-map.yaml
  releases/release-1.22/release-notes/maps/pr-99915-map.yaml
  releases/release-1.22/release-notes/maps/pr-99963-map.yaml
  releases/release-1.22/release-notes/release-notes-draft.json
  releases/release-1.22/release-notes/release-notes-draft.md
  releases/release-1.22/release-notes/sessions/maps-1620106367.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1559 Changing the 1.22.0-beta.1 release date to July8
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1564 releng: Update active Release Managers
  OWNERS_ALIASES
  release-managers.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, kind/feature, lgtm, needs-priority, sig/release, size/S

#1569 Add Veronica and Joyce as Branch Manager Shadows
  releases/release-1.22/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1568 Update exceptions docs to reflect 3 releases per year
  releases/EXCEPTIONS.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1572 Add Release Managers roster to 1.22 schedule
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1576 Add feature blog tracking sheet to 1.22 readme
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XS

#1577 Move patch release schedule and Release Managers pages to k8s.io
  release-managers.md
  releases/patch-releases.md
  releases/schedule.yaml
Labels: approved, area/release-team, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, needs-priority, sig/release, size/L

#1579 Clarify enhancements lead time requirements
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/S

#1580 Revert "Merge pull request #1579 from JamesLaverack/enhancements-time"
  release-team/role-handbooks/enhancements/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/S

#1574 Add Bug Triage Tracking sheet
  releases/release-1.22/README.md
Labels: approved, area/release-team, cncf-cla: yes, lgtm, needs-kind, needs-priority, sig/release, size/XS

#1584 Update release notes draft to version v1.22.0-alpha.2
  releases/release-1.22/release-notes/maps/pr-100234-map.yaml
  releases/release-1.22/release-notes/maps/pr-100262-map.yaml
  releases/release-1.22/release-notes/maps/pr-100565-map.yaml
  releases/release-1.22/release-notes/maps/pr-100568-map.yaml
  releases/release-1.22/release-notes/maps/pr-100731-map.yaml
  releases/release-1.22/release-notes/maps/pr-101005-map.yaml
  releases/release-1.22/release-notes/maps/pr-101187-map.yaml
  releases/release-1.22/release-notes/maps/pr-101292-map.yaml
  releases/release-1.22/release-notes/maps/pr-101496-map.yaml
  releases/release-1.22/release-notes/maps/pr-101534-map.yaml
  releases/release-1.22/release-notes/maps/pr-101537-map.yaml
  releases/release-1.22/release-notes/maps/pr-101542-map.yaml
  releases/release-1.22/release-notes/maps/pr-101547-map.yaml
  releases/release-1.22/release-notes/maps/pr-101560-map.yaml
  releases/release-1.22/release-notes/maps/pr-101669-map.yaml
  releases/release-1.22/release-notes/maps/pr-101685-map.yaml
  releases/release-1.22/release-notes/maps/pr-101688-map.yaml
  releases/release-1.22/release-notes/maps/pr-101938-map.yaml
  releases/release-1.22/release-notes/maps/pr-101950-map.yaml
  releases/release-1.22/release-notes/maps/pr-102005-map.yaml
  releases/release-1.22/release-notes/maps/pr-102030-map.yaml
  releases/release-1.22/release-notes/maps/pr-102108-map.yaml
  releases/release-1.22/release-notes/maps/pr-102121-map.yaml
  releases/release-1.22/release-notes/maps/pr-102159-map.yaml
  releases/release-1.22/release-notes/maps/pr-96702-map.yaml
  releases/release-1.22/release-notes/maps/pr-97796-map.yaml
  releases/release-1.22/release-notes/release-notes-draft.json
  releases/release-1.22/release-notes/release-notes-draft.md
  releases/release-1.22/release-notes/sessions/maps-1621875902.json
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/XXL
