Repository kubernetes/sig-release, pull requests merged in 2021-08, with the labels that each got.

#1647 Adding to Known Issues
  releases/release-1.22/release-notes/release-notes-draft.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/critical-urgent, sig/release, size/XS

#1645 Schedule for the 1.23 release
  releases/release-1.23/README.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, needs-priority, sig/release, size/M

#1651 Add role leads to 1.23 release team
  releases/release-1.23/release-team.md
Labels: approved, area/release-team, cncf-cla: yes, kind/documentation, lgtm, priority/important-soon, sig/release, size/S

#1529 Add Roadmap and Vision
  roadmap.md
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation

#1653 Release 1.23: update OWNER_ALIASES with 1.23 team
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/S, priority/critical-urgent, sig/release, approved, kind/documentation, kind/cleanup, area/release-team

#1655 Release 1.23: add RT Lead Shadows to 1.23 team
  releases/release-1.23/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/critical-urgent, sig/release, approved, kind/documentation, kind/cleanup, area/release-team

#1656 Fills in TBD for retrospective
  releases/release-1.22/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1657 Link roadmap and vision from root README.md
  README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, needs-priority

#1654 Add OWNERS file for release-1.23
  releases/release-1.23/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, priority/critical-urgent, sig/release, approved, kind/documentation, area/release-team

#1659 Cleanup Docs role handbook
  release-team/role-handbooks/docs/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, sig/docs, approved, kind/cleanup, area/release-team, needs-priority

#1663 Add PRR soft freeze to 1.23 release schedule
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1666 Update release-team-lead onboarding issue template
  .github/ISSUE_TEMPLATE/release-team-lead.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/critical-urgent, sig/release, approved, kind/cleanup

#1664 Release-1.23: update links on release-1.23 README.md
  releases/release-1.23/README.md
Labels: cncf-cla: yes, lgtm, size/S, priority/critical-urgent, sig/release, approved, kind/cleanup, area/release-team

#1668 OWNERS updates
  OWNERS
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, needs-priority

#1671 docs: add a place where retro link should be shared
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1676 Product Security Committee rename
  SECURITY_CONTACTS
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, needs-kind, area/release-eng, needs-priority

#1677 Update v1.23.0-alpha.1 cut in release calendar
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1682 Release-1.23: update 1.23 schedule with 3 retro dates
  releases/release-1.23/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1683 Add exceptions.yaml for 1.22
  releases/release-1.22/exceptions.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, do-not-merge/hold, approved, kind/documentation, area/release-team, needs-priority

#1684 Update 1.23 release team with release notes shadow
  releases/release-1.23/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#1687 Add 1.23 release team docs shadows
  releases/release-1.23/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
