Repository kubernetes/sig-release, pull requests merged in 2022-01, with the labels that each got.

#1798 Add full 1.24 release timeline
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/M, lgtm, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#1799 Adding docs shadows to the K8s 1.24 release team.
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1802 OWNERS_ALIASES: update release-engineering-approvers with new release managers
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, priority/important-soon, sig/release, approved, kind/documentation

#1800 Update links to release manages and patch release pages in 1.24 release team file
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1796 ci-signal handbook: Fix wording
  release-team/role-handbooks/ci-signal/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1801 Adding 1.24 Enhancements Shadows
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1806 Add v1.24 release notes shadows to team list
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1803 Adding 1.24 bug triage shadows to team list
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, tide/merge-method-squash, area/release-team, needs-priority

#1804 update ci signal shadow list and project board ref
  releases/release-1.24/README.md
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1735 Update Release Lead handbook per 1.22 and 1.23 retros
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, kind/cleanup, area/release-team

#1809 update url for kubernetes-dev mailing list to new location
  .github/ISSUE_TEMPLATE/lead.md
  .github/ISSUE_TEMPLATE/release-manager.md
  .github/ISSUE_TEMPLATE/release-team-lead.md
  leads/onboarding.md
  release-engineering/role-handbooks/branch-manager.md
  release-engineering/role-handbooks/patch-release-team.md
  release-team/role-handbooks/docs/Release-Timeline.md
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, area/release-eng, needs-priority

#1795 update ci signal handbook to adress new report tool
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/ci-signal/k8s-ci-signal-report-arch.drawio.png
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team

#1815 Fix 1.24 dates
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1797 update release team comms handbook
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/communications/release-blog.md
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, kind/cleanup, area/release-team

#1808 Use most recent examples in release notes handbook
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1830 add juanfescobar to build-admins, remove amwat
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, needs-priority

#1822 Add artifact distribution policy KEP to roadmap
  roadmap.md
Labels: cncf-cla: yes, lgtm, priority/important-soon, sig/release, approved, kind/documentation

#1805 Adding 1.24 Comms Shadows
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
