Repository kubernetes/sig-release, pull requests merged in 2022-06, with the labels that each got.

#1923 Adding docs shadows to the K8s 1.25 release team
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1924 Update role lead handbooks
  release-team/role-handbooks/bug-triage/README.md
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/enhancements/README.md
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1926 Use most recent examples (1.24) in release notes handbook
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1927 Added CI Signal shadows to the K8s 1.25 release team
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1929 Add Major Themes deadline
  releases/release-1.25/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1930 Add step to update tracking spreadsheet links in kubernetes/enhancements README
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1931 Update roadmap
  roadmap.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, needs-priority

#1940 Update 1.25 release schedule
  releases/release-1.25/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team, needs-priority

#1942 Add branch manager into release team
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1932 Update docu: Add visual path to release
  release-engineering/role-handbooks/branch-manager.md
  release-team/README.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, area/release-eng, needs-priority

#1944 Update release notes draft to version v1.25.0-alpha.1
  releases/release-1.25/release-notes/maps/pr-108492-map.yaml
  releases/release-1.25/release-notes/maps/pr-109764-map.yaml
  releases/release-1.25/release-notes/maps/pr-110095-map.yaml
  releases/release-1.25/release-notes/maps/pr-110343-map.yaml
  releases/release-1.25/release-notes/release-notes-draft.json
  releases/release-1.25/release-notes/release-notes-draft.md
  releases/release-1.25/release-notes/sessions/maps-1655499865.json
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1945 correct 1.25 enhancements freeze timeline
  releases/release-1.25/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1950 Update bug triage list after got reverted
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1949 Update release notes draft to version v1.25.0-alpha.1
  releases/release-1.25/release-notes/maps/pr-105936-map.yaml
  releases/release-1.25/release-notes/maps/pr-108414-map.yaml
  releases/release-1.25/release-notes/maps/pr-108476-map.yaml
  releases/release-1.25/release-notes/maps/pr-108777-map.yaml
  releases/release-1.25/release-notes/maps/pr-109435-map.yaml
  releases/release-1.25/release-notes/maps/pr-109563-map.yaml
  releases/release-1.25/release-notes/maps/pr-109602-map.yaml
  releases/release-1.25/release-notes/maps/pr-109658-map.yaml
  releases/release-1.25/release-notes/maps/pr-109680-map.yaml
  releases/release-1.25/release-notes/maps/pr-109709-map.yaml
  releases/release-1.25/release-notes/maps/pr-109773-map.yaml
  releases/release-1.25/release-notes/maps/pr-109782-map.yaml
  releases/release-1.25/release-notes/maps/pr-109798-map.yaml
  releases/release-1.25/release-notes/maps/pr-109840-map.yaml
  releases/release-1.25/release-notes/maps/pr-110013-map.yaml
  releases/release-1.25/release-notes/maps/pr-110027-map.yaml
  releases/release-1.25/release-notes/maps/pr-110058-map.yaml
  releases/release-1.25/release-notes/maps/pr-110371-map.yaml
  releases/release-1.25/release-notes/maps/pr-110488-map.yaml
  releases/release-1.25/release-notes/maps/pr-110491-map.yaml
  releases/release-1.25/release-notes/release-notes-draft.json
  releases/release-1.25/release-notes/release-notes-draft.md
  releases/release-1.25/release-notes/sessions/maps-1656055065.json
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1954 Remove duplicated GitHub token docs
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, area/release-team, needs-priority
