Repository kubernetes/sig-release, pull requests merged in 2022-07, with the labels that each got.

#1959 Fix 1.25.0-alpha.3 release day of week
  releases/release-1.25/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1964 releases/1.25: Add Jeremy and Joseph as Branch Manager shadows
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1967 Add outreach to SIGs through Slack during Week 1-2
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1974 Fix for yaml parsing issue
  releases/release-1.25/release-notes/maps/pr-109251-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/bug, area/release-team, needs-priority

#1975 Fix yaml to resolve parsing issue
  releases/release-1.25/release-notes/maps/pr-110310-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/bug, area/release-team, needs-priority

#1979 Postpone 1.25.0-beta.0 release date
  releases/release-1.25/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1978 Exception docs update
  releases/EXCEPTIONS.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
