Repository kubernetes/sig-release, pull requests merged in 2022-05, with the labels that each got.

#1885 Add Kubernetes 1.25 release draft outline
  releases/release-1.25/OWNERS
  releases/release-1.25/README.md
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1892 Release notes draft v1.24.0 rc.1
  releases/release-1.24/release-notes/maps/pr-109241-map.yaml
  releases/release-1.24/release-notes/release-notes-draft.json
  releases/release-1.24/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, needs-kind, area/release-team, needs-priority

#1894 Update roadmap for `Signing of release artifacts`
  roadmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, needs-priority

#1896 Add Kubernetes 1.24 Release Theme and Logo
  releases/release-1.24/README.md
  releases/release-1.24/logo/README.md
  releases/release-1.24/logo/logo.afdesign
  releases/release-1.24/logo/main-logo.png
  releases/release-1.24/logo/main-logo.svg
  releases/release-1.24/logo/small-logo.png
  releases/release-1.24/logo/small-logo.svg
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#1897 Add 1.24 Retro dates for part 2 & 3
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#1899 Adding release team info
  releases/release-1.25/OWNERS
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1900 Fix key dates
  releases/release-1.25/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1904 Updated documentation
  release-team/release-team-onboarding.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team, needs-priority

#1906 Update roadmap.md year
  roadmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, needs-priority

#1901 Fix Release Team Selection Link
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1914 Update roadmap
  roadmap.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, needs-priority

#1915 Remove `LappleApple` from `OWNERS_ALIASES`
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, needs-priority

#1920 Update RT Lead Handbook, Week14 prepare release team gifts
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1918 Add 1.25 Bug Triage Shadows
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1913 Add 1.25 Enhancements Shadows
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1921 Add release notes shadows for 1.25
  releases/release-1.25/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
