Repository kubernetes/sig-release, pull requests merged in 2022-12, with the labels that each got.

#2121 chore: docs week 12
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, needs-kind, area/release-team, needs-priority

#2123 Update 1.26 release cut date; 8th Dec to 9th Dec
  releases/release-1.26/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2119 Add the release theme for the release cycle v1.26
  releases/release-1.26/README.md
  releases/release-1.26/logo/Electrifying_Logo.png
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2122 Update release notes draft to version v1.26.0
  releases/release-1.26/release-notes/maps/pr-112133-map.yaml
  releases/release-1.26/release-notes/release-notes-draft.json
  releases/release-1.26/release-notes/release-notes-draft.md
  releases/release-1.26/release-notes/sessions/maps-1670569599.json
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2114 Enhancement handbook updates - week 0 updates
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2124 Issue template: add note about krel-fast forward
  .github/ISSUE_TEMPLATE/cut-release.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, needs-priority

#2125 Adding exceptions.yaml for 1.26
  releases/release-1.26/exceptions.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2108 create 1.27 release docs
  releases/release-1.27/OWNERS
  releases/release-1.27/README.md
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team

#2092 Docs handbook - Review of index and week 1
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2133 add docs lead and update OWNERS aliases
  OWNERS_ALIASES
  releases/release-1.27/OWNERS
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority
