Repository kubernetes/sig-release, pull requests merged in 2022-02, with the labels that each got.

#1838 release-1.24: add Jim Angel as a Branch Manager Shadow
  releases/release-1.24/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1837 Update release notes draft to version v1.24.0-alpha.1
  releases/release-1.24/release-notes/maps/pr-101719-map.yaml
  releases/release-1.24/release-notes/maps/pr-105360-map.yaml
  releases/release-1.24/release-notes/maps/pr-106179-map.yaml
  releases/release-1.24/release-notes/maps/pr-106492-map.yaml
  releases/release-1.24/release-notes/maps/pr-106581-map.yaml
  releases/release-1.24/release-notes/maps/pr-106600-map.yaml
  releases/release-1.24/release-notes/maps/pr-106660-map.yaml
  releases/release-1.24/release-notes/maps/pr-106803-map.yaml
  releases/release-1.24/release-notes/maps/pr-106833-map.yaml
  releases/release-1.24/release-notes/maps/pr-106838-map.yaml
  releases/release-1.24/release-notes/maps/pr-106854-map.yaml
  releases/release-1.24/release-notes/maps/pr-97252-map.yaml
  releases/release-1.24/release-notes/release-notes-draft.json
  releases/release-1.24/release-notes/release-notes-draft.md
  releases/release-1.24/release-notes/sessions/maps-1643816881.json
Labels: cncf-cla: yes, lgtm, size/XL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1839 Add OWNERS for release-notes 1.24
  releases/release-1.24/release-notes/OWNERS
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1840 doc: update release notes editing flow with a useful resource
  release-team/role-handbooks/release-notes/editing-flow.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1842 Update 1.24 links for clarity
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1843 fix bug triage tinyurl
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1849 Add time for part 1 retro
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#1855 Describe auto fast-forward in release phases
  releases/release_phases.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1858 fix yaml errors in mapping files for 1.24
  releases/release-1.24/release-notes/maps/pr-105964-map.yaml
  releases/release-1.24/release-notes/maps/pr-107295-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#1859 Update release notes draft to version v1.24.0-alpha.3
  releases/release-1.24/release-notes/maps/pr-101028-map.yaml
  releases/release-1.24/release-notes/maps/pr-105297-map.yaml
  releases/release-1.24/release-notes/maps/pr-106715-map.yaml
  releases/release-1.24/release-notes/maps/pr-107096-map.yaml
  releases/release-1.24/release-notes/maps/pr-107142-map.yaml
  releases/release-1.24/release-notes/maps/pr-107432-map.yaml
  releases/release-1.24/release-notes/maps/pr-107481-map.yaml
  releases/release-1.24/release-notes/maps/pr-107527-map.yaml
  releases/release-1.24/release-notes/maps/pr-107552-map.yaml
  releases/release-1.24/release-notes/maps/pr-107785-map.yaml
  releases/release-1.24/release-notes/maps/pr-107880-map.yaml
  releases/release-1.24/release-notes/maps/pr-107900-map.yaml
  releases/release-1.24/release-notes/maps/pr-107904-map.yaml
  releases/release-1.24/release-notes/maps/pr-107921-map.yaml
  releases/release-1.24/release-notes/maps/pr-107956-map.yaml
  releases/release-1.24/release-notes/maps/pr-107970-map.yaml
  releases/release-1.24/release-notes/maps/pr-107974-map.yaml
  releases/release-1.24/release-notes/maps/pr-107982-map.yaml
  releases/release-1.24/release-notes/maps/pr-108020-map.yaml
  releases/release-1.24/release-notes/maps/pr-108027-map.yaml
  releases/release-1.24/release-notes/maps/pr-108038-map.yaml
  releases/release-1.24/release-notes/maps/pr-108052-map.yaml
  releases/release-1.24/release-notes/maps/pr-108053-map.yaml
  releases/release-1.24/release-notes/maps/pr-108059-map.yaml
  releases/release-1.24/release-notes/maps/pr-108062-map.yaml
  releases/release-1.24/release-notes/maps/pr-108091-map.yaml
  releases/release-1.24/release-notes/release-notes-draft.json
  releases/release-1.24/release-notes/release-notes-draft.md
  releases/release-1.24/release-notes/sessions/maps-1645585977.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1861 Add start of Friday APAC-friendly meetings to schedule
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/important-soon, sig/release, approved, kind/documentation, area/release-team
