Repository kubernetes/sig-release, pull requests merged in 2022-09, with the labels that each got.

#2007 Update 1.26 OWNER_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/S, priority/important-soon, sig/release, approved, kind/cleanup

#2000 Update release team docs role timeline
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: cncf-cla: yes, size/M, lgtm, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#2010 Removing the word "soft" in PRR freeze
  release-team/role-handbooks/communications/README.md
  releases/release-1.26/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1968 add hack/sync-enhancements-github-project-beta.sh
  release-team/hack/sync-enhancements-github-project-beta.sh
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, sig/release, approved, area/release-team, needs-priority

#2014 Add Communications shadows for 1.26
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2015 Add 1.26 enhancements team shadows
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2016 Add 1.26 CI Signal team
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2021 Add 1.26 Release Notes team
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2022 chore: add docs team 1.26
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2023 chmod +x for sync-enhancements-github-project-board.sh
  release-team/hack/sync-enhancements-github-project-beta.sh
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1919 Adding a note for release-team Google Group access
  release-team/shadows.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, tide/merge-method-squash, area/release-team, needs-priority

#2025 Update RT Lead Handbook Cal send out note
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2026 Add 1.26 Bug Triage Team
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2027 Remove deprecated calendar from RT lead handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2030 Update 1.26-alpha.1 cut on release schedule
  releases/release-1.26/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2033 releases/1.26: add Cici and Xander as Branch Manager shadows
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2002 Add exceptions.yaml for release-1.25
  releases/release-1.25/exceptions.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, priority/important-longterm, kind/documentation, area/release-team

#2039 add check to verify PROJECT_NUMBER env variable
  release-team/hack/sync-enhancements-github-project-beta.sh
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2042 Updated the incorrect URL
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2040 Update release notes draft to version v1.26.0-alpha.1
  releases/release-1.26/release-notes/maps/pr-112046-map.yaml
  releases/release-1.26/release-notes/maps/pr-112309-map.yaml
  releases/release-1.26/release-notes/maps/pr-112526-map.yaml
  releases/release-1.26/release-notes/release-notes-draft.json
  releases/release-1.26/release-notes/release-notes-draft.md
  releases/release-1.26/release-notes/sessions/maps-1663864374.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2043 Update release notes draft to version v1.26.0-alpha.1
  releases/release-1.26/release-notes/maps/pr-111520-map.yaml
  releases/release-1.26/release-notes/maps/pr-111808-map.yaml
  releases/release-1.26/release-notes/maps/pr-111936-map.yaml
  releases/release-1.26/release-notes/maps/pr-111998-map.yaml
  releases/release-1.26/release-notes/maps/pr-112008-map.yaml
  releases/release-1.26/release-notes/maps/pr-112015-map.yaml
  releases/release-1.26/release-notes/maps/pr-112017-map.yaml
  releases/release-1.26/release-notes/maps/pr-112076-map.yaml
  releases/release-1.26/release-notes/maps/pr-112123-map.yaml
  releases/release-1.26/release-notes/maps/pr-112150-map.yaml
  releases/release-1.26/release-notes/maps/pr-112172-map.yaml
  releases/release-1.26/release-notes/maps/pr-112181-map.yaml
  releases/release-1.26/release-notes/maps/pr-112243-map.yaml
  releases/release-1.26/release-notes/maps/pr-112341-map.yaml
  releases/release-1.26/release-notes/maps/pr-112403-map.yaml
  releases/release-1.26/release-notes/maps/pr-112556-map.yaml
  releases/release-1.26/release-notes/maps/pr-112557-map.yaml
  releases/release-1.26/release-notes/maps/pr-112567-map.yaml
  releases/release-1.26/release-notes/release-notes-draft.json
  releases/release-1.26/release-notes/release-notes-draft.md
  releases/release-1.26/release-notes/sessions/maps-1663929908.json
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2028 Update various urls across sig-release documentation
  release-engineering/release-notes.md
  release-team/README.md
  release-team/release-team-onboarding.md
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, area/release-eng, needs-priority

#2048 Use most recent examples (1.25) in release notes handbook
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2045 Update release team handbook to define major themes collection
  release-team/role-handbooks/release-notes/README.md
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team, needs-priority
