Repository kubernetes/sig-release, pull requests merged in 2022-08, with the labels that each got.

#1980 Add ci signal onboarding clips to ci signal handbook
  release-team/role-handbooks/ci-signal/one-pager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1973 Add RT meeting host playbook to the RT Lead handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, priority/important-longterm, kind/documentation, area/release-team

#1976 Update release notes draft to version v1.25.0-alpha.3
  releases/release-1.25/release-notes/maps/pr-103523-map.yaml
  releases/release-1.25/release-notes/maps/pr-109479-map.yaml
  releases/release-1.25/release-notes/maps/pr-110703-map.yaml
  releases/release-1.25/release-notes/maps/pr-110791-map.yaml
  releases/release-1.25/release-notes/maps/pr-110914-map.yaml
  releases/release-1.25/release-notes/maps/pr-111026-map.yaml
  releases/release-1.25/release-notes/release-notes-draft.json
  releases/release-1.25/release-notes/release-notes-draft.md
  releases/release-1.25/release-notes/sessions/maps-1658855812.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1985 Update release notes draft to version v1.25.0-rc.0
  releases/release-1.25/release-notes/maps/pr-108554-map.yaml
  releases/release-1.25/release-notes/maps/pr-109090-map.yaml
  releases/release-1.25/release-notes/maps/pr-111113-map.yaml
  releases/release-1.25/release-notes/maps/pr-111258-map.yaml
  releases/release-1.25/release-notes/maps/pr-111691-map.yaml
  releases/release-1.25/release-notes/maps/pr-111721-map.yaml
  releases/release-1.25/release-notes/release-notes-draft.json
  releases/release-1.25/release-notes/release-notes-draft.md
  releases/release-1.25/release-notes/sessions/maps-1660239162.json
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1987 Add major themes for v1.25
  releases/release-1.25/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1988 release notes get final into k/k
  releases/release-1.25/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1994 Remove release note for reverted PR
  releases/release-1.25/release-notes/maps/pr-111507-map.yaml
  releases/release-1.25/release-notes/release-notes-draft.json
  releases/release-1.25/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1995 Remove "Auth plugin removal" from Major Theme
  releases/release-1.25/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1996 Update release notes draft to version v1.25.0-rc.1
  releases/release-1.25/release-notes/release-notes-draft.json
  releases/release-1.25/release-notes/release-notes-draft.md
  releases/release-1.25/release-notes/sessions/maps-1660876102.json
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1997 Include PR 111918 - Restore in-tree credential plugins for 1.25
  releases/release-1.25/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1998 Update `Golang` in release note
  releases/release-1.25/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#1999 Add Kubernetes 1.25 release logo
  releases/release-1.25/README.md
  releases/release-1.25/logo/Combiner Logo Small.png
  releases/release-1.25/logo/README.md
  releases/release-1.25/logo/main-logo.png
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2003 Add 1.26 release documents
  releases/release-1.26/OWNERS
  releases/release-1.26/README.md
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2004 Update EA for 1.26
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2005 update 1.26 release schedule
  releases/release-1.26/README.md
Labels: cncf-cla: yes, size/M, lgtm, priority/critical-urgent, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team

#2008 Add release team lead shadows for 1.26
  releases/release-1.26/OWNERS
  releases/release-1.26/release-team.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority
