Repository kubernetes/sig-release, pull requests merged in 2022-04, with the labels that each got.

#1874 release-1.24: push back rc.0 release date
  releases/release-1.24/README.md
Labels: cncf-cla: yes, size/XS, lgtm, priority/critical-urgent, sig/release, approved, kind/documentation, area/release-team

#1884 Adjust dates for 1.24 release delay
  releases/release-1.24/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1887 releng: Move branch job creation instructions to k/test-infra
  release-engineering/role-handbooks/branch-manager.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-eng, needs-priority

#1825 add templates to the ci signal handbook folder
  release-team/role-handbooks/ci-signal/README.md
  release-team/role-handbooks/ci-signal/template-weekly-ci-signal-report.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1869 add a "one pager" to the CI Signal handbook
  release-team/role-handbooks/ci-signal/one-pager.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1890 Update release notes draft to version v1.24.0-rc.0
  releases/release-1.24/release-notes/maps/pr-107178-map.yaml
  releases/release-1.24/release-notes/maps/pr-107631-map.yaml
  releases/release-1.24/release-notes/maps/pr-108016-map.yaml
  releases/release-1.24/release-notes/maps/pr-108930-map.yaml
  releases/release-1.24/release-notes/maps/pr-109050-map.yaml
  releases/release-1.24/release-notes/maps/pr-109060-map.yaml
  releases/release-1.24/release-notes/maps/pr-109154-map.yaml
  releases/release-1.24/release-notes/maps/pr-109178-map.yaml
  releases/release-1.24/release-notes/maps/pr-109188-map.yaml
  releases/release-1.24/release-notes/maps/pr-109205-map.yaml
  releases/release-1.24/release-notes/maps/pr-109213-map.yaml
  releases/release-1.24/release-notes/maps/pr-109241-map.yaml
  releases/release-1.24/release-notes/maps/pr-109245-map.yaml
  releases/release-1.24/release-notes/maps/pr-109271-map.yaml
  releases/release-1.24/release-notes/maps/pr-109436-map.yaml
  releases/release-1.24/release-notes/maps/pr-109442-map.yaml
  releases/release-1.24/release-notes/maps/pr-109461-map.yaml
  releases/release-1.24/release-notes/maps/pr-109471-map.yaml
  releases/release-1.24/release-notes/maps/pr-109487-map.yaml
  releases/release-1.24/release-notes/release-notes-draft.json
  releases/release-1.24/release-notes/release-notes-draft.md
  releases/release-1.24/release-notes/sessions/maps-1651169858.json
Labels: cncf-cla: yes, lgtm, size/XL, sig/release, approved, kind/documentation, area/release-team, needs-priority
