Repository kubernetes/sig-release, pull requests merged in 2022-10, with the labels that each got.

#2049 Add OWNERS to 1.26 release notes dir
  releases/release-1.26/release-notes/OWNERS
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2050 Update Release Notes Handbook to update GitHub team
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#1969 add hack/sync-bug-triage-github-project-beta.sh
  release-team/hack/sync-bug-triage-github-project-beta.sh
Labels: cncf-cla: yes, lgtm, size/L, kind/feature, sig/release, approved, area/release-team, needs-priority

#2051 Update Communications handbook
  release-team/role-handbooks/communications/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2057 Update release notes draft to version v1.26.0-alpha.2
  releases/release-1.26/release-notes/maps/pr-111093-map.yaml
  releases/release-1.26/release-notes/maps/pr-111277-map.yaml
  releases/release-1.26/release-notes/maps/pr-111752-map.yaml
  releases/release-1.26/release-notes/maps/pr-111999-map.yaml
  releases/release-1.26/release-notes/maps/pr-112000-map.yaml
  releases/release-1.26/release-notes/maps/pr-112026-map.yaml
  releases/release-1.26/release-notes/maps/pr-112042-map.yaml
  releases/release-1.26/release-notes/maps/pr-112195-map.yaml
  releases/release-1.26/release-notes/maps/pr-112299-map.yaml
  releases/release-1.26/release-notes/maps/pr-112353-map.yaml
  releases/release-1.26/release-notes/maps/pr-112357-map.yaml
  releases/release-1.26/release-notes/maps/pr-112489-map.yaml
  releases/release-1.26/release-notes/maps/pr-112518-map.yaml
  releases/release-1.26/release-notes/maps/pr-112542-map.yaml
  releases/release-1.26/release-notes/maps/pr-112545-map.yaml
  releases/release-1.26/release-notes/maps/pr-112589-map.yaml
  releases/release-1.26/release-notes/maps/pr-112607-map.yaml
  releases/release-1.26/release-notes/maps/pr-112650-map.yaml
  releases/release-1.26/release-notes/maps/pr-112652-map.yaml
  releases/release-1.26/release-notes/maps/pr-112732-map.yaml
  releases/release-1.26/release-notes/maps/pr-112741-map.yaml
  releases/release-1.26/release-notes/maps/pr-112748-map.yaml
  releases/release-1.26/release-notes/maps/pr-112751-map.yaml
  releases/release-1.26/release-notes/maps/pr-112797-map.yaml
  releases/release-1.26/release-notes/maps/pr-112837-map.yaml
  releases/release-1.26/release-notes/release-notes-draft.json
  releases/release-1.26/release-notes/release-notes-draft.md
  releases/release-1.26/release-notes/sessions/maps-1665672047.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2060 Update Feature blog tracking link
  releases/release-1.26/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2063 Add major themes deadline to 1.26 timeline
  releases/release-1.26/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2059 Update release notes draft to version v1.26.0-alpha.1
  releases/release-1.26/release-notes/maps/pr-108832-map.yaml
  releases/release-1.26/release-notes/maps/pr-111783-map.yaml
  releases/release-1.26/release-notes/maps/pr-111910-map.yaml
  releases/release-1.26/release-notes/maps/pr-112157-map.yaml
  releases/release-1.26/release-notes/maps/pr-112386-map.yaml
  releases/release-1.26/release-notes/maps/pr-112427-map.yaml
  releases/release-1.26/release-notes/maps/pr-67782-map.yaml
  releases/release-1.26/release-notes/release-notes-draft.json
  releases/release-1.26/release-notes/release-notes-draft.md
  releases/release-1.26/release-notes/sessions/maps-1666211958.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority
