Repository kubernetes/sig-release, pull requests merged in 2023-11, with the labels that each got.

#2365 k8s-infra: Add releases bucket migration to roadmap
  roadmap.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, needs-priority

#2364 Add go minor version steps to handbook
  release-engineering/handbooks/go.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-eng, needs-priority

#2372 add links to CI signal and feature blog tracking boards
  releases/release-1.29/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2374 Update release notes draft to version v1.29.0-rc.0
  releases/release-1.29/release-notes/maps/pr-113374-map.yaml
  releases/release-1.29/release-notes/maps/pr-120616-map.yaml
  releases/release-1.29/release-notes/maps/pr-121034-map.yaml
  releases/release-1.29/release-notes/maps/pr-121091-map.yaml
  releases/release-1.29/release-notes/maps/pr-121193-map.yaml
  releases/release-1.29/release-notes/maps/pr-121739-map.yaml
  releases/release-1.29/release-notes/maps/pr-121764-map.yaml
  releases/release-1.29/release-notes/maps/pr-121765-map.yaml
  releases/release-1.29/release-notes/maps/pr-121808-map.yaml
  releases/release-1.29/release-notes/maps/pr-121837-map.yaml
  releases/release-1.29/release-notes/maps/pr-121841-map.yaml
  releases/release-1.29/release-notes/maps/pr-121851-map.yaml
  releases/release-1.29/release-notes/maps/pr-121867-map.yaml
  releases/release-1.29/release-notes/maps/pr-121871-map.yaml
  releases/release-1.29/release-notes/release-notes-draft.json
  releases/release-1.29/release-notes/release-notes-draft.md
  releases/release-1.29/release-notes/sessions/maps-1700642920.json
Labels: cncf-cla: yes, lgtm, size/XL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2352 docs: Add the Release Signal Handbook
  release-team/role-handbooks/release-signal/README.md
  release-team/role-handbooks/release-signal/img/project-board-add-new-k8s-release.png
  release-team/role-handbooks/release-signal/img/project-board-duplicate-view.png
  release-team/role-handbooks/release-signal/img/project-board-update-filter.png
  release-team/role-handbooks/release-signal/project-boards.md
Labels: cncf-cla: yes, lgtm, priority/important-soon, size/XL, kind/feature, sig/release, approved, area/release-team

#2381 add kubernetes 1.29 release theme and logo
  releases/release-1.29/README.md
  releases/release-1.29/logo/README.md
  releases/release-1.29/logo/k8s129-mandala-300dpi.png
  releases/release-1.29/logo/k8s129-mandala-512px.png
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
