Repository kubernetes/sig-release, pull requests merged in 2023-06, with the labels that each got.

#2254 Updating handbook based on 1.27 experience
  release-team/role-handbooks/docs/README.md
Labels: cncf-cla: yes, size/M, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2262 Add v1.28.0-alpha.2 in week 4
  releases/release-1.28/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2263 [1.28] Push back alpha2 to account for Go release
  releases/release-1.28/README.md
Labels: cncf-cla: yes, size/XS, sig/release, approved, needs-kind, area/release-team, needs-priority

#2265 remove tombstoned docs
  release-team/role-handbooks/test-infra/OWNERS
  release-team/role-handbooks/test-infra/README.md
  releases/patch-releases.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2266 Update release notes draft to version v1.28.0-alpha.2
  releases/release-1.28/release-notes/maps/pr-113209-map.yaml
  releases/release-1.28/release-notes/maps/pr-113362-map.yaml
  releases/release-1.28/release-notes/maps/pr-114606-map.yaml
  releases/release-1.28/release-notes/maps/pr-115554-map.yaml
  releases/release-1.28/release-notes/maps/pr-115694-map.yaml
  releases/release-1.28/release-notes/maps/pr-115843-map.yaml
  releases/release-1.28/release-notes/maps/pr-116208-map.yaml
  releases/release-1.28/release-notes/maps/pr-116327-map.yaml
  releases/release-1.28/release-notes/maps/pr-116408-map.yaml
  releases/release-1.28/release-notes/maps/pr-116685-map.yaml
  releases/release-1.28/release-notes/maps/pr-116749-map.yaml
  releases/release-1.28/release-notes/maps/pr-116865-map.yaml
  releases/release-1.28/release-notes/maps/pr-116901-map.yaml
  releases/release-1.28/release-notes/maps/pr-117002-map.yaml
  releases/release-1.28/release-notes/maps/pr-117020-map.yaml
  releases/release-1.28/release-notes/maps/pr-117079-map.yaml
  releases/release-1.28/release-notes/maps/pr-117102-map.yaml
  releases/release-1.28/release-notes/maps/pr-117120-map.yaml
  releases/release-1.28/release-notes/maps/pr-117138-map.yaml
  releases/release-1.28/release-notes/maps/pr-117211-map.yaml
  releases/release-1.28/release-notes/maps/pr-117216-map.yaml
  releases/release-1.28/release-notes/maps/pr-117237-map.yaml
  releases/release-1.28/release-notes/maps/pr-117245-map.yaml
  releases/release-1.28/release-notes/maps/pr-117295-map.yaml
  releases/release-1.28/release-notes/maps/pr-117301-map.yaml
  releases/release-1.28/release-notes/maps/pr-117335-map.yaml
  releases/release-1.28/release-notes/maps/pr-117368-map.yaml
  releases/release-1.28/release-notes/maps/pr-117535-map.yaml
  releases/release-1.28/release-notes/maps/pr-117543-map.yaml
  releases/release-1.28/release-notes/maps/pr-117545-map.yaml
  releases/release-1.28/release-notes/maps/pr-117568-map.yaml
  releases/release-1.28/release-notes/maps/pr-117586-map.yaml
  releases/release-1.28/release-notes/maps/pr-117633-map.yaml
  releases/release-1.28/release-notes/maps/pr-117649-map.yaml
  releases/release-1.28/release-notes/maps/pr-117655-map.yaml
  releases/release-1.28/release-notes/maps/pr-117656-map.yaml
  releases/release-1.28/release-notes/maps/pr-117660-map.yaml
  releases/release-1.28/release-notes/maps/pr-117687-map.yaml
  releases/release-1.28/release-notes/maps/pr-117717-map.yaml
  releases/release-1.28/release-notes/maps/pr-117787-map.yaml
  releases/release-1.28/release-notes/maps/pr-117835-map.yaml
  releases/release-1.28/release-notes/maps/pr-117861-map.yaml
  releases/release-1.28/release-notes/maps/pr-117877-map.yaml
  releases/release-1.28/release-notes/maps/pr-117930-map.yaml
  releases/release-1.28/release-notes/maps/pr-117984-map.yaml
  releases/release-1.28/release-notes/maps/pr-118013-map.yaml
  releases/release-1.28/release-notes/maps/pr-118018-map.yaml
  releases/release-1.28/release-notes/maps/pr-118029-map.yaml
  releases/release-1.28/release-notes/maps/pr-118069-map.yaml
  releases/release-1.28/release-notes/maps/pr-118143-map.yaml
  releases/release-1.28/release-notes/maps/pr-118236-map.yaml
  releases/release-1.28/release-notes/maps/pr-118270-map.yaml
  releases/release-1.28/release-notes/maps/pr-118499-map.yaml
  releases/release-1.28/release-notes/release-notes-draft.json
  releases/release-1.28/release-notes/release-notes-draft.md
  releases/release-1.28/release-notes/sessions/maps-1686669866.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2088 Add reference to minikube for local dev
  release-team/role-handbooks/communications/release-blog.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, lifecycle/rotten, kind/cleanup, area/release-team, needs-priority
