Repository kubernetes/sig-release, pull requests merged in 2023-03, with the labels that each got.

#2190 Update branch manager handbook to update branch cut tasks
  release-engineering/role-handbooks/branch-manager.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, kind/cleanup, area/release-eng, needs-priority

#2194 docs: clarification around code freeze
  releases/release_phases.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2195 Adding communication template for code-freeze to enhancements handbook
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2198 Add release-team shadow removal or resignation info
  release-team/shadows.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2189 Update documentation to reflect dropped 32bit arm support
  release-engineering/artifacts.md
  release-engineering/platforms/README.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-eng, needs-priority

#2201 fix yaml file that will break krel release-note commands
  releases/release-1.27/release-notes/maps/pr-113834-map.yaml
  releases/release-1.27/release-notes/maps/pr-115786-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority
