Repository kubernetes/sig-release, pull requests merged in 2023-01, with the labels that each got.

#2134 Fix rule of endOfLifeDate for Kubernetes releases
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2135 update 1.27 release date to 04/11/22
  releases/release-1.27/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2100 Rework release team lead handbook & init release team lead progress issue
  .github/ISSUE_TEMPLATE/release-team-lead-progress.md
  .github/ISSUE_TEMPLATE/release-team-lead.md
  release-team/release-team-selection.md
  release-team/role-handbooks/release-team-lead/README.md
  releases/release-1.26/README.md
Labels: cncf-cla: yes, lgtm, priority/important-soon, size/XL, sig/release, approved, kind/documentation, area/release-team

#2126 Enhancements role handbook updates - through enhancements freeze
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team

#2136 Updating enhancement freeze requirements in release_phases.md
  releases/release_phases.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2129 Updating the 'Working with the Enhancement Tracking Board' part of the enhancements role handbook
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team, needs-priority

#2145 Update release notes draft to version v1.26.0-rc.1
  releases/release-1.26/release-notes/maps/pr-112058-map.yaml
  releases/release-1.26/release-notes/maps/pr-112855-map.yaml
  releases/release-1.26/release-notes/release-notes-draft.json
  releases/release-1.26/release-notes/release-notes-draft.md
  releases/release-1.26/release-notes/sessions/maps-1673999876.json
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2151 Add branch manager into 1.27 release team
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2149 fixing md for 1.27 retro link
  releases/release-1.27/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2154 Add 1.27 Docs shadows
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2153 add bug triage team for 1.27
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2150 Adding 1.27 enhancements shadows to release-team.md
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2158 Removing newlines from GITHUB_TOKEN env var in sync project board scripts
  release-team/hack/sync-bug-triage-github-project-beta.sh
  release-team/hack/sync-enhancements-github-project-beta.sh
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2156 releng: Add cici37 to branch manager
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, priority/important-soon, sig/release, approved, kind/documentation

#2147 Added comms shadow for 1.27
  releases/release-1.27/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2130 Remove extra CNCF content from the blog template
  release-team/role-handbooks/communications/release-blog.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, area/release-team, needs-priority
