Repository kubernetes/sig-release, pull requests merged in 2023-12, with the labels that each got.

#2379 Update release notes draft to version v1.29.0-rc.1
  releases/release-1.29/release-notes/maps/pr-118568-map.yaml
  releases/release-1.29/release-notes/maps/pr-118619-map.yaml
  releases/release-1.29/release-notes/maps/pr-119396-map.yaml
  releases/release-1.29/release-notes/maps/pr-119522-map.yaml
  releases/release-1.29/release-notes/maps/pr-119753-map.yaml
  releases/release-1.29/release-notes/maps/pr-119946-map.yaml
  releases/release-1.29/release-notes/maps/pr-119994-map.yaml
  releases/release-1.29/release-notes/maps/pr-120018-map.yaml
  releases/release-1.29/release-notes/maps/pr-120330-map.yaml
  releases/release-1.29/release-notes/maps/pr-120427-map.yaml
  releases/release-1.29/release-notes/maps/pr-120492-map.yaml
  releases/release-1.29/release-notes/maps/pr-120549-map.yaml
  releases/release-1.29/release-notes/maps/pr-120595-map.yaml
  releases/release-1.29/release-notes/maps/pr-120731-map.yaml
  releases/release-1.29/release-notes/maps/pr-120825-map.yaml
  releases/release-1.29/release-notes/maps/pr-121142-map.yaml
  releases/release-1.29/release-notes/maps/pr-121441-map.yaml
  releases/release-1.29/release-notes/maps/pr-121577-map.yaml
  releases/release-1.29/release-notes/maps/pr-121851-map.yaml
  releases/release-1.29/release-notes/release-notes-draft.json
  releases/release-1.29/release-notes/release-notes-draft.md
  releases/release-1.29/release-notes/sessions/maps-1701205965.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, tide/merge-method-squash, area/release-team, needs-priority

#2387 Update release date in summary
  releases/release-1.29/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2389 Update release notes draft to version v1.29.0-rc.2
  releases/release-1.29/release-notes/maps/pr-120330-map.yaml
  releases/release-1.29/release-notes/maps/pr-121632-map.yaml
  releases/release-1.29/release-notes/release-notes-draft.json
  releases/release-1.29/release-notes/release-notes-draft.md
  releases/release-1.29/release-notes/sessions/maps-1702051199.json
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2397 Update release manager onboarding template
  .github/ISSUE_TEMPLATE/release-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, needs-priority

#2396 Update instructions to use the `cherrypickapproved` prow plugin
  release-engineering/role-handbooks/patch-release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-eng, needs-priority

#2391 v1.29 final release-notes draft
  releases/release-1.29/release-notes/release-notes-draft.json
  releases/release-1.29/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2380 Added exceptions.yaml for v1.29 release
  releases/release-1.29/exceptions.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2390 Update roadmap for 2024 and beyond
  roadmap.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, needs-priority
