Repository kubernetes/sig-release, pull requests merged in 2023-05, with the labels that each got.

#2228 add 1.27 logo to release docs
  releases/release-1.27/logo/127-logo.png
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2229 clarify existing policy: release blocking jobs must only depend on community resources
  release-blocking-jobs.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, sig/testing, approved, kind/documentation, needs-priority, sig/k8s-infra

#2231 Add v1.28 Bug Triage shadows
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2233 Add comms shadows for 1.28 release team
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2234 add release notes shadows for 1.28 release team
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2235 Add branch manager for 1.28
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2236 Add 1.28 CI Signal shadows
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2239 Add 1.28 Docs Shadows
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2232 🐛 Add missing lead shadow slack handle to the 1.28 release team doc
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2241 use dl.k8s.io, not kubernetes-release bucket
  release-engineering/role-handbooks/branch-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-eng, kind/deprecation, needs-priority

#2243 fix: use dl.k8s.io, not kubernetes-release bucket
  release-engineering/role-handbooks/branch-manager.md
  release-team/role-handbooks/ci-signal/upgrade-job-versions.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, area/release-team, area/release-eng, needs-priority

#2242 [1.28] Add OWNER_ALIAS and update in alphabetical order
  OWNERS_ALIASES
  releases/release-1.28/OWNERS
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2247 Fix typo in Docs Release Team members
  releases/release-1.28/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2245 Add Latest Release Blogs as Reference in Comms Handbook
  release-team/role-handbooks/communications/release-blog.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2240 Updating Enhancements Role-handbook
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, needs-kind, area/release-team, needs-priority

#2252 Update Docs Release Timeline for updating configuration
  release-team/role-handbooks/docs/Release-Timeline.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2256 Fix typo in CI Signal Lead Playbook
  release-team/role-handbooks/ci-signal/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2257 Update branch-manager.md
  release-engineering/role-handbooks/branch-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-eng, needs-priority

#2260 List container image for kubectl
  release-engineering/artifacts.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-eng, needs-priority
