Repository kubernetes/sig-release, pull requests merged in 2024-10, with the labels that each got.

#2635 1.32 Release Notes personnel update
  releases/release-1.32/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2615 Add One Pager for the Release Signal Handbook
  release-team/README.md
  release-team/release-team.svg
  release-team/role-handbooks/release-signal/README.md
  release-team/role-handbooks/release-signal/one-pager.md
Labels: cncf-cla: yes, lgtm, size/L, priority/important-soon, sig/release, approved, kind/documentation, area/release-team

#2638 Fixed date nit
  releases/release-1.32/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2560 Add comments for using the latest version of krel and that the releas…
  release-team/role-handbooks/release-notes/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2637 Update release notes draft to version v1.32.0-alpha.1
  releases/release-1.32/release-notes/maps/pr-122890-map.yaml
  releases/release-1.32/release-notes/maps/pr-124003-map.yaml
  releases/release-1.32/release-notes/maps/pr-124703-map.yaml
  releases/release-1.32/release-notes/maps/pr-125372-map.yaml
  releases/release-1.32/release-notes/maps/pr-125398-map.yaml
  releases/release-1.32/release-notes/maps/pr-125634-map.yaml
  releases/release-1.32/release-notes/maps/pr-125796-map.yaml
  releases/release-1.32/release-notes/maps/pr-126359-map.yaml
  releases/release-1.32/release-notes/maps/pr-126449-map.yaml
  releases/release-1.32/release-notes/maps/pr-126512-map.yaml
  releases/release-1.32/release-notes/maps/pr-126532-map.yaml
  releases/release-1.32/release-notes/maps/pr-126644-map.yaml
  releases/release-1.32/release-notes/maps/pr-126706-map.yaml
  releases/release-1.32/release-notes/maps/pr-126727-map.yaml
  releases/release-1.32/release-notes/maps/pr-126745-map.yaml
  releases/release-1.32/release-notes/maps/pr-126773-map.yaml
  releases/release-1.32/release-notes/maps/pr-126851-map.yaml
  releases/release-1.32/release-notes/maps/pr-126962-map.yaml
  releases/release-1.32/release-notes/maps/pr-126996-map.yaml
  releases/release-1.32/release-notes/maps/pr-126997-map.yaml
  releases/release-1.32/release-notes/maps/pr-127012-map.yaml
  releases/release-1.32/release-notes/maps/pr-127016-map.yaml
  releases/release-1.32/release-notes/maps/pr-127058-map.yaml
  releases/release-1.32/release-notes/maps/pr-127083-map.yaml
  releases/release-1.32/release-notes/maps/pr-127228-map.yaml
  releases/release-1.32/release-notes/maps/pr-127279-map.yaml
  releases/release-1.32/release-notes/maps/pr-127378-map.yaml
  releases/release-1.32/release-notes/maps/pr-127417-map.yaml
  releases/release-1.32/release-notes/maps/pr-127421-map.yaml
  releases/release-1.32/release-notes/maps/pr-127427-map.yaml
  releases/release-1.32/release-notes/maps/pr-127444-map.yaml
  releases/release-1.32/release-notes/maps/pr-127473-map.yaml
  releases/release-1.32/release-notes/maps/pr-127551-map.yaml
  releases/release-1.32/release-notes/maps/pr-127598-map.yaml
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
  releases/release-1.32/release-notes/sessions/maps-1728313621.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2645 Add exceptions file for 1.32 and document exceptions from enhancements freeze
  releases/release-1.32/exceptions.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2649 Update release notes draft to version v1.32.0-alpha.2
  releases/release-1.32/release-notes/maps/pr-125070-map.yaml
  releases/release-1.32/release-notes/maps/pr-125118-map.yaml
  releases/release-1.32/release-notes/maps/pr-125171-map.yaml
  releases/release-1.32/release-notes/maps/pr-125923-map.yaml
  releases/release-1.32/release-notes/maps/pr-125982-map.yaml
  releases/release-1.32/release-notes/maps/pr-126575-map.yaml
  releases/release-1.32/release-notes/maps/pr-126776-map.yaml
  releases/release-1.32/release-notes/maps/pr-126924-map.yaml
  releases/release-1.32/release-notes/maps/pr-127302-map.yaml
  releases/release-1.32/release-notes/maps/pr-127348-map.yaml
  releases/release-1.32/release-notes/maps/pr-127489-map.yaml
  releases/release-1.32/release-notes/maps/pr-127611-map.yaml
  releases/release-1.32/release-notes/maps/pr-127634-map.yaml
  releases/release-1.32/release-notes/maps/pr-127650-map.yaml
  releases/release-1.32/release-notes/maps/pr-127663-map.yaml
  releases/release-1.32/release-notes/maps/pr-127669-map.yaml
  releases/release-1.32/release-notes/maps/pr-127673-map.yaml
  releases/release-1.32/release-notes/maps/pr-127780-map.yaml
  releases/release-1.32/release-notes/maps/pr-127786-map.yaml
  releases/release-1.32/release-notes/maps/pr-127787-map.yaml
  releases/release-1.32/release-notes/maps/pr-127861-map.yaml
  releases/release-1.32/release-notes/maps/pr-127869-map.yaml
  releases/release-1.32/release-notes/maps/pr-127878-map.yaml
  releases/release-1.32/release-notes/maps/pr-127919-map.yaml
  releases/release-1.32/release-notes/maps/pr-127965-map.yaml
  releases/release-1.32/release-notes/maps/pr-127976-map.yaml
  releases/release-1.32/release-notes/maps/pr-128009-map.yaml
  releases/release-1.32/release-notes/maps/pr-128011-map.yaml
  releases/release-1.32/release-notes/maps/pr-128035-map.yaml
  releases/release-1.32/release-notes/maps/pr-128038-map.yaml
  releases/release-1.32/release-notes/maps/pr-128052-map.yaml
  releases/release-1.32/release-notes/maps/pr-128053-map.yaml
  releases/release-1.32/release-notes/maps/pr-128062-map.yaml
  releases/release-1.32/release-notes/maps/pr-128073-map.yaml
  releases/release-1.32/release-notes/maps/pr-128081-map.yaml
  releases/release-1.32/release-notes/maps/pr-128099-map.yaml
  releases/release-1.32/release-notes/maps/pr-128110-map.yaml
  releases/release-1.32/release-notes/maps/pr-128118-map.yaml
  releases/release-1.32/release-notes/maps/pr-128149-map.yaml
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
  releases/release-1.32/release-notes/sessions/maps-1729531290.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2648 Release Team Update
  releases/release-1.32/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2652 update list of Release Signal 1.32 shadows
  releases/release-1.32/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2653 Updating release-team.md with branch manager
  releases/release-1.32/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2616 Fixed typo in the release lead handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2605 Update OWNERS_ALIASES add mbianchidev (Release 1.32 Comms Lead)
  OWNERS_ALIASES
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, needs-priority
