Repository kubernetes/sig-release, pull requests merged in 2024-03, with the labels that each got.

#2446 Fix release notes yaml lint errors
  releases/release-1.30/release-notes/maps/pr-119177-map.yaml
  releases/release-1.30/release-notes/maps/pr-121983-map.yaml
  releases/release-1.30/release-notes/maps/pr-122477-map.yaml
  releases/release-1.30/release-notes/maps/pr-122614-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2448 updated links in release-1.30 README
  releases/release-1.30/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2450 Add code freeze exception requests for v1.30
  releases/release-1.30/exceptions.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/release, do-not-merge/hold, approved, kind/documentation, area/release-team, needs-priority

#2449 Update release notes draft to version v1.30.0-alpha.3
  releases/release-1.30/release-notes/maps/pr-114301-map.yaml
  releases/release-1.30/release-notes/maps/pr-117046-map.yaml
  releases/release-1.30/release-notes/maps/pr-119200-map.yaml
  releases/release-1.30/release-notes/maps/pr-119923-map.yaml
  releases/release-1.30/release-notes/maps/pr-120246-map.yaml
  releases/release-1.30/release-notes/maps/pr-120344-map.yaml
  releases/release-1.30/release-notes/maps/pr-120642-map.yaml
  releases/release-1.30/release-notes/maps/pr-120902-map.yaml
  releases/release-1.30/release-notes/maps/pr-121669-map.yaml
  releases/release-1.30/release-notes/maps/pr-121719-map.yaml
  releases/release-1.30/release-notes/maps/pr-121720-map.yaml
  releases/release-1.30/release-notes/maps/pr-121778-map.yaml
  releases/release-1.30/release-notes/maps/pr-121815-map.yaml
  releases/release-1.30/release-notes/maps/pr-122293-map.yaml
  releases/release-1.30/release-notes/maps/pr-122296-map.yaml
  releases/release-1.30/release-notes/maps/pr-122346-map.yaml
  releases/release-1.30/release-notes/maps/pr-122422-map.yaml
  releases/release-1.30/release-notes/maps/pr-122468-map.yaml
  releases/release-1.30/release-notes/maps/pr-122475-map.yaml
  releases/release-1.30/release-notes/maps/pr-122874-map.yaml
  releases/release-1.30/release-notes/maps/pr-122883-map.yaml
  releases/release-1.30/release-notes/maps/pr-122999-map.yaml
  releases/release-1.30/release-notes/maps/pr-123011-map.yaml
  releases/release-1.30/release-notes/maps/pr-123023-map.yaml
  releases/release-1.30/release-notes/maps/pr-123135-map.yaml
  releases/release-1.30/release-notes/maps/pr-123165-map.yaml
  releases/release-1.30/release-notes/maps/pr-123215-map.yaml
  releases/release-1.30/release-notes/maps/pr-123261-map.yaml
  releases/release-1.30/release-notes/maps/pr-123272-map.yaml
  releases/release-1.30/release-notes/maps/pr-123281-map.yaml
  releases/release-1.30/release-notes/maps/pr-123282-map.yaml
  releases/release-1.30/release-notes/maps/pr-123310-map.yaml
  releases/release-1.30/release-notes/maps/pr-123341-map.yaml
  releases/release-1.30/release-notes/maps/pr-123343-map.yaml
  releases/release-1.30/release-notes/maps/pr-123345-map.yaml
  releases/release-1.30/release-notes/maps/pr-123372-map.yaml
  releases/release-1.30/release-notes/maps/pr-123384-map.yaml
  releases/release-1.30/release-notes/maps/pr-123406-map.yaml
  releases/release-1.30/release-notes/maps/pr-123418-map.yaml
  releases/release-1.30/release-notes/maps/pr-123425-map.yaml
  releases/release-1.30/release-notes/maps/pr-123442-map.yaml
  releases/release-1.30/release-notes/maps/pr-123461-map.yaml
  releases/release-1.30/release-notes/maps/pr-123464-map.yaml
  releases/release-1.30/release-notes/maps/pr-123475-map.yaml
  releases/release-1.30/release-notes/maps/pr-123479-map.yaml
  releases/release-1.30/release-notes/maps/pr-123492-map.yaml
  releases/release-1.30/release-notes/maps/pr-123504-map.yaml
  releases/release-1.30/release-notes/maps/pr-123517-map.yaml
  releases/release-1.30/release-notes/release-notes-draft.json
  releases/release-1.30/release-notes/release-notes-draft.md
  releases/release-1.30/release-notes/sessions/maps-1709744010.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2458 v1.30: Docs personnel update
  releases/release-1.30/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2459 Update release notes draft to version v1.30.0-beta.0
  releases/release-1.30/release-notes/maps/.DS_Store
  releases/release-1.30/release-notes/maps/pr-120346-map.yaml
  releases/release-1.30/release-notes/maps/pr-122285-map.yaml
  releases/release-1.30/release-notes/maps/pr-122830-map.yaml
  releases/release-1.30/release-notes/maps/pr-122882-map.yaml
  releases/release-1.30/release-notes/maps/pr-122907-map.yaml
  releases/release-1.30/release-notes/maps/pr-123077-map.yaml
  releases/release-1.30/release-notes/maps/pr-123135-map.yaml
  releases/release-1.30/release-notes/maps/pr-123205-map.yaml
  releases/release-1.30/release-notes/maps/pr-123271-map.yaml
  releases/release-1.30/release-notes/maps/pr-123310-map.yaml
  releases/release-1.30/release-notes/maps/pr-123405-map.yaml
  releases/release-1.30/release-notes/maps/pr-123412-map.yaml
  releases/release-1.30/release-notes/maps/pr-123424-map.yaml
  releases/release-1.30/release-notes/maps/pr-123484-map.yaml
  releases/release-1.30/release-notes/maps/pr-123508-map.yaml
  releases/release-1.30/release-notes/maps/pr-123532-map.yaml
  releases/release-1.30/release-notes/maps/pr-123555-map.yaml
  releases/release-1.30/release-notes/maps/pr-123560-map.yaml
  releases/release-1.30/release-notes/maps/pr-123562-map.yaml
  releases/release-1.30/release-notes/maps/pr-123565-map.yaml
  releases/release-1.30/release-notes/maps/pr-123570-map.yaml
  releases/release-1.30/release-notes/maps/pr-123578-map.yaml
  releases/release-1.30/release-notes/maps/pr-123599-map.yaml
  releases/release-1.30/release-notes/maps/pr-123641-map.yaml
  releases/release-1.30/release-notes/maps/pr-123654-map.yaml
  releases/release-1.30/release-notes/maps/pr-123674-map.yaml
  releases/release-1.30/release-notes/maps/pr-123758-map.yaml
  releases/release-1.30/release-notes/release-notes-draft.json
  releases/release-1.30/release-notes/release-notes-draft.md
  releases/release-1.30/release-notes/sessions/maps-1711378753.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority
