Repository kubernetes/sig-release, pull requests merged in 2024-12, with the labels that each got.

#2670 Remove triage party reference
  release-engineering/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-eng, needs-priority

#2671 Fix unescaped single quote for PR 128219 map
  releases/release-1.32/release-notes/maps/pr-128219-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2676 Update release notes draft to version v1.32.0-rc.0
  releases/release-1.32/release-notes/maps/pr-121206-map.yaml
  releases/release-1.32/release-notes/maps/pr-121968-map.yaml
  releases/release-1.32/release-notes/maps/pr-124952-map.yaml
  releases/release-1.32/release-notes/maps/pr-125577-map.yaml
  releases/release-1.32/release-notes/maps/pr-126503-map.yaml
  releases/release-1.32/release-notes/maps/pr-126806-map.yaml
  releases/release-1.32/release-notes/maps/pr-127360-map.yaml
  releases/release-1.32/release-notes/maps/pr-127581-map.yaml
  releases/release-1.32/release-notes/maps/pr-128186-map.yaml
  releases/release-1.32/release-notes/maps/pr-128190-map.yaml
  releases/release-1.32/release-notes/maps/pr-128240-map.yaml
  releases/release-1.32/release-notes/maps/pr-128287-map.yaml
  releases/release-1.32/release-notes/maps/pr-128495-map.yaml
  releases/release-1.32/release-notes/maps/pr-128503-map.yaml
  releases/release-1.32/release-notes/maps/pr-128556-map.yaml
  releases/release-1.32/release-notes/maps/pr-128623-map.yaml
  releases/release-1.32/release-notes/maps/pr-128640-map.yaml
  releases/release-1.32/release-notes/maps/pr-128646-map.yaml
  releases/release-1.32/release-notes/maps/pr-128764-map.yaml
  releases/release-1.32/release-notes/maps/pr-128852-map.yaml
  releases/release-1.32/release-notes/maps/pr-128932-map.yaml
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
  releases/release-1.32/release-notes/sessions/maps-1733275958.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2679 Link moved platforms guide
  release-engineering/platforms/README.md
  release-engineering/platforms/guide.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-eng, needs-priority

#2680 Fix issues found while running krel validate
  releases/release-1.32/release-notes/maps/pr-121206-map.yaml
  releases/release-1.32/release-notes/maps/pr-125577-map.yaml
  releases/release-1.32/release-notes/maps/pr-127581-map.yaml
  releases/release-1.32/release-notes/maps/pr-127874-map.yaml
  releases/release-1.32/release-notes/maps/pr-128430-map.yaml
  releases/release-1.32/release-notes/maps/pr-128495-map.yaml
  releases/release-1.32/release-notes/maps/pr-128533-map.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2681 Update release notes draft to version v1.32.0-rc.1
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2694 Add known issue for Windows CSI drivers
  releases/release-1.32/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2665 Merge Docs and Release Notes subteams
  release-team/role-handbooks/docs/README.md
  release-team/role-handbooks/docs/Release-Timeline.md
  release-team/role-handbooks/docs/editing-flow.md
  release-team/role-handbooks/docs/known-issues-bucket.md
  release-team/role-handbooks/docs/relnotes-template.md
  release-team/role-handbooks/docs/sig-leads-email.md
Labels: cncf-cla: yes, lgtm, priority/important-soon, size/XL, sig/release, approved, kind/documentation, area/release-team

#2699 Update release-team.md
  releases/release-1.32/release-team.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2703 Fixing Release Signal Handbook - Wrong timeline of release-x.y-blocking/informing dashboards
  release-team/role-handbooks/release-signal/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2702 Remove reverted PRs from release notes
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
