Repository kubernetes/sig-release, pull requests merged in 2024-08, with the labels that each got.

#2584 Update release notes draft to version v1.31.0-rc.0
  releases/release-1.31/release-notes/maps/pr-120611-map.yaml
  releases/release-1.31/release-notes/maps/pr-122628-map.yaml
  releases/release-1.31/release-notes/maps/pr-124012-map.yaml
  releases/release-1.31/release-notes/maps/pr-124101-map.yaml
  releases/release-1.31/release-notes/maps/pr-124430-map.yaml
  releases/release-1.31/release-notes/maps/pr-124530-map.yaml
  releases/release-1.31/release-notes/maps/pr-124819-map.yaml
  releases/release-1.31/release-notes/maps/pr-124884-map.yaml
  releases/release-1.31/release-notes/maps/pr-124958-map.yaml
  releases/release-1.31/release-notes/maps/pr-124959-map.yaml
  releases/release-1.31/release-notes/maps/pr-124961-map.yaml
  releases/release-1.31/release-notes/maps/pr-125163-map.yaml
  releases/release-1.31/release-notes/maps/pr-125257-map.yaml
  releases/release-1.31/release-notes/maps/pr-125259-map.yaml
  releases/release-1.31/release-notes/maps/pr-125374-map.yaml
  releases/release-1.31/release-notes/maps/pr-125470-map.yaml
  releases/release-1.31/release-notes/maps/pr-125488-map.yaml
  releases/release-1.31/release-notes/maps/pr-125571-map.yaml
  releases/release-1.31/release-notes/maps/pr-125656-map.yaml
  releases/release-1.31/release-notes/maps/pr-125660-map.yaml
  releases/release-1.31/release-notes/maps/pr-125661-map.yaml
  releases/release-1.31/release-notes/maps/pr-125782-map.yaml
  releases/release-1.31/release-notes/maps/pr-125813-map.yaml
  releases/release-1.31/release-notes/maps/pr-125929-map.yaml
  releases/release-1.31/release-notes/maps/pr-126014-map.yaml
  releases/release-1.31/release-notes/maps/pr-126031-map.yaml
  releases/release-1.31/release-notes/maps/pr-126047-map.yaml
  releases/release-1.31/release-notes/maps/pr-126067-map.yaml
  releases/release-1.31/release-notes/maps/pr-126072-map.yaml
  releases/release-1.31/release-notes/maps/pr-126073-map.yaml
  releases/release-1.31/release-notes/maps/pr-126108-map.yaml
  releases/release-1.31/release-notes/maps/pr-126125-map.yaml
  releases/release-1.31/release-notes/maps/pr-126139-map.yaml
  releases/release-1.31/release-notes/maps/pr-126145-map.yaml
  releases/release-1.31/release-notes/maps/pr-126163-map.yaml
  releases/release-1.31/release-notes/maps/pr-126165-map.yaml
  releases/release-1.31/release-notes/maps/pr-126167-map.yaml
  releases/release-1.31/release-notes/maps/pr-126174-map.yaml
  releases/release-1.31/release-notes/maps/pr-126191-map.yaml
  releases/release-1.31/release-notes/maps/pr-126205-map.yaml
  releases/release-1.31/release-notes/maps/pr-126227-map.yaml
  releases/release-1.31/release-notes/maps/pr-126237-map.yaml
  releases/release-1.31/release-notes/maps/pr-126243-map.yaml
  releases/release-1.31/release-notes/maps/pr-126330-map.yaml
  releases/release-1.31/release-notes/maps/pr-126335-map.yaml
  releases/release-1.31/release-notes/maps/pr-126355-map.yaml
  releases/release-1.31/release-notes/maps/pr-126441-map.yaml
  releases/release-1.31/release-notes/release-notes-draft.json
  releases/release-1.31/release-notes/release-notes-draft.md
  releases/release-1.31/release-notes/sessions/maps-1722538475.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2589 Fix release notes text in map files
  releases/release-1.31/release-notes/maps/pr-125163-map.yaml
  releases/release-1.31/release-notes/maps/pr-126108-map.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2590 Update release notes draft to version v1.31.0-rc.1
  releases/release-1.31/release-notes/maps/pr-125828-map.yaml
  releases/release-1.31/release-notes/release-notes-draft.json
  releases/release-1.31/release-notes/release-notes-draft.md
  releases/release-1.31/release-notes/sessions/maps-1723123535.json
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2600 Update Major Themes process to Release Highlights
  release-team/role-handbooks/communications/README.md
  release-team/role-handbooks/communications/release-blog.md
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2601 Add media and webinar notes to lead handbook
  release-team/role-handbooks/release-team-lead/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2593 Added 1.31 code freeze exception requests to the exceptions.yaml file
  releases/release-1.31/exceptions.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2607 Remove note about official release in branch handbook
  release-engineering/role-handbooks/branch-manager.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-eng, needs-priority
