Repository kubernetes/sig-release, pull requests merged in 2024-11, with the labels that each got.

#2657 Shadows <> subteam pairing add to lead checklist
  .github/ISSUE_TEMPLATE/release-team-lead-progress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, needs-priority

#2659 Update release notes draft to version v1.32.0-alpha.3
  releases/release-1.32/release-notes/maps/pr-119089-map.yaml
  releases/release-1.32/release-notes/maps/pr-124285-map.yaml
  releases/release-1.32/release-notes/maps/pr-124389-map.yaml
  releases/release-1.32/release-notes/maps/pr-125337-map.yaml
  releases/release-1.32/release-notes/maps/pr-126347-map.yaml
  releases/release-1.32/release-notes/maps/pr-126543-map.yaml
  releases/release-1.32/release-notes/maps/pr-126562-map.yaml
  releases/release-1.32/release-notes/maps/pr-126897-map.yaml
  releases/release-1.32/release-notes/maps/pr-126953-map.yaml
  releases/release-1.32/release-notes/maps/pr-126957-map.yaml
  releases/release-1.32/release-notes/maps/pr-126976-map.yaml
  releases/release-1.32/release-notes/maps/pr-126981-map.yaml
  releases/release-1.32/release-notes/maps/pr-127155-map.yaml
  releases/release-1.32/release-notes/maps/pr-127187-map.yaml
  releases/release-1.32/release-notes/maps/pr-127239-map.yaml
  releases/release-1.32/release-notes/maps/pr-127341-map.yaml
  releases/release-1.32/release-notes/maps/pr-127402-map.yaml
  releases/release-1.32/release-notes/maps/pr-127565-map.yaml
  releases/release-1.32/release-notes/maps/pr-127566-map.yaml
  releases/release-1.32/release-notes/maps/pr-127661-map.yaml
  releases/release-1.32/release-notes/maps/pr-127898-map.yaml
  releases/release-1.32/release-notes/maps/pr-127918-map.yaml
  releases/release-1.32/release-notes/maps/pr-128003-map.yaml
  releases/release-1.32/release-notes/maps/pr-128013-map.yaml
  releases/release-1.32/release-notes/maps/pr-128029-map.yaml
  releases/release-1.32/release-notes/maps/pr-128083-map.yaml
  releases/release-1.32/release-notes/maps/pr-128091-map.yaml
  releases/release-1.32/release-notes/maps/pr-128100-map.yaml
  releases/release-1.32/release-notes/maps/pr-128101-map.yaml
  releases/release-1.32/release-notes/maps/pr-128119-map.yaml
  releases/release-1.32/release-notes/maps/pr-128124-map.yaml
  releases/release-1.32/release-notes/maps/pr-128139-map.yaml
  releases/release-1.32/release-notes/maps/pr-128168-map.yaml
  releases/release-1.32/release-notes/maps/pr-128169-map.yaml
  releases/release-1.32/release-notes/maps/pr-128172-map.yaml
  releases/release-1.32/release-notes/maps/pr-128179-map.yaml
  releases/release-1.32/release-notes/maps/pr-128182-map.yaml
  releases/release-1.32/release-notes/maps/pr-128197-map.yaml
  releases/release-1.32/release-notes/maps/pr-128244-map.yaml
  releases/release-1.32/release-notes/maps/pr-128259-map.yaml
  releases/release-1.32/release-notes/maps/pr-128305-map.yaml
  releases/release-1.32/release-notes/maps/pr-128317-map.yaml
  releases/release-1.32/release-notes/maps/pr-128318-map.yaml
  releases/release-1.32/release-notes/maps/pr-128336-map.yaml
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
  releases/release-1.32/release-notes/sessions/maps-1731440047.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2632 Update RT lead progress template for Release Signal team changes
  .github/ISSUE_TEMPLATE/release-team-lead-progress.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, needs-priority

#2668 Clarification for `milestone-maintainer` post Code-Freeze (1/2)
  release-team/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2666 Update release notes draft to version v1.32.0-beta.0
  releases/release-1.32/release-notes/maps/pr-126533-map.yaml
  releases/release-1.32/release-notes/maps/pr-126620-map.yaml
  releases/release-1.32/release-notes/maps/pr-127134-map.yaml
  releases/release-1.32/release-notes/maps/pr-127874-map.yaml
  releases/release-1.32/release-notes/maps/pr-128219-map.yaml
  releases/release-1.32/release-notes/maps/pr-128430-map.yaml
  releases/release-1.32/release-notes/maps/pr-128444-map.yaml
  releases/release-1.32/release-notes/maps/pr-128463-map.yaml
  releases/release-1.32/release-notes/maps/pr-128517-map.yaml
  releases/release-1.32/release-notes/maps/pr-128533-map.yaml
  releases/release-1.32/release-notes/release-notes-draft.json
  releases/release-1.32/release-notes/release-notes-draft.md
  releases/release-1.32/release-notes/sessions/maps-1732261652.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority
