Repository kubernetes/sig-release, pull requests merged in 2024-04, with the labels that each got.

#2468 Update release notes draft to version v1.30.0-rc.0
  releases/release-1.30/release-notes/maps/pr-120111-map.yaml
  releases/release-1.30/release-notes/maps/pr-121919-map.yaml
  releases/release-1.30/release-notes/maps/pr-121952-map.yaml
  releases/release-1.30/release-notes/maps/pr-122447-map.yaml
  releases/release-1.30/release-notes/maps/pr-122893-map.yaml
  releases/release-1.30/release-notes/maps/pr-122946-map.yaml
  releases/release-1.30/release-notes/maps/pr-123077-map.yaml
  releases/release-1.30/release-notes/maps/pr-123093-map.yaml
  releases/release-1.30/release-notes/maps/pr-123157-map.yaml
  releases/release-1.30/release-notes/maps/pr-123180-map.yaml
  releases/release-1.30/release-notes/maps/pr-123216-map.yaml
  releases/release-1.30/release-notes/maps/pr-123372-map.yaml
  releases/release-1.30/release-notes/maps/pr-123413-map.yaml
  releases/release-1.30/release-notes/maps/pr-123504-map.yaml
  releases/release-1.30/release-notes/maps/pr-123560-map.yaml
  releases/release-1.30/release-notes/maps/pr-123593-map.yaml
  releases/release-1.30/release-notes/maps/pr-123599-map.yaml
  releases/release-1.30/release-notes/maps/pr-123676-map.yaml
  releases/release-1.30/release-notes/maps/pr-123713-map.yaml
  releases/release-1.30/release-notes/maps/pr-123758-map.yaml
  releases/release-1.30/release-notes/maps/pr-123935-map.yaml
  releases/release-1.30/release-notes/release-notes-draft.json
  releases/release-1.30/release-notes/release-notes-draft.md
  releases/release-1.30/release-notes/sessions/maps-1712246948.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2473 fix: YAML lint error
  releases/release-1.30/release-notes/maps/pr-123180-map.yaml
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, needs-kind, area/release-team, needs-priority

#2480 Update release notes draft to version v1.30.0-rc.2
  releases/release-1.30/release-notes/maps/pr-122612-map.yaml
  releases/release-1.30/release-notes/release-notes-draft.json
  releases/release-1.30/release-notes/release-notes-draft.md
  releases/release-1.30/release-notes/sessions/maps-1713210685.json
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2485 Final draft for v1.30 release
  releases/release-1.30/release-notes/release-notes-draft.json
  releases/release-1.30/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2487 Final Draft PR
  releases/release-1.30/release-notes/release-notes-draft.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2488 Fix dead links to release-engineering project board
  release-engineering/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-eng, needs-priority

#2490 Update handbooks
  release-team/release-team-removal.md
  release-team/role-handbooks/enhancements/README.md
  releases/release_phases.md
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, kind/documentation, kind/cleanup, area/release-team, needs-priority

#2491 Improve structure of the Release Signal handbook
  release-team/role-handbooks/release-signal/README.md
  release-team/role-handbooks/release-signal/img/prowjob-config-file.png
  release-team/role-handbooks/release-signal/img/triage-inferring-sig.png
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2373 Added instructions for enabling/disabling enhancement sync job to enhancements handbook
  release-team/role-handbooks/enhancements/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
