Repository kubernetes/sig-release, pull requests merged in 2025-02, with the labels that each got.

#2720 Fix link and correct timezone
  releases/release-1.33/README.md
Labels: cncf-cla: yes, size/XS, lgtm, sig/release, approved, kind/cleanup, area/release-team, needs-priority

#2728 Update release notes draft to version v1.33.0-alpha.1
  releases/release-1.33/release-notes/maps/pr-125901-map.yaml
  releases/release-1.33/release-notes/maps/pr-127193-map.yaml
  releases/release-1.33/release-notes/maps/pr-127709-map.yaml
  releases/release-1.33/release-notes/maps/pr-127897-map.yaml
  releases/release-1.33/release-notes/maps/pr-128086-map.yaml
  releases/release-1.33/release-notes/maps/pr-128212-map.yaml
  releases/release-1.33/release-notes/maps/pr-128546-map.yaml
  releases/release-1.33/release-notes/maps/pr-128621-map.yaml
  releases/release-1.33/release-notes/maps/pr-128810-map.yaml
  releases/release-1.33/release-notes/maps/pr-128811-map.yaml
  releases/release-1.33/release-notes/maps/pr-128818-map.yaml
  releases/release-1.33/release-notes/maps/pr-128850-map.yaml
  releases/release-1.33/release-notes/maps/pr-128856-map.yaml
  releases/release-1.33/release-notes/maps/pr-128886-map.yaml
  releases/release-1.33/release-notes/maps/pr-128906-map.yaml
  releases/release-1.33/release-notes/maps/pr-128926-map.yaml
  releases/release-1.33/release-notes/maps/pr-128929-map.yaml
  releases/release-1.33/release-notes/maps/pr-128950-map.yaml
  releases/release-1.33/release-notes/maps/pr-128971-map.yaml
  releases/release-1.33/release-notes/maps/pr-129006-map.yaml
  releases/release-1.33/release-notes/maps/pr-129017-map.yaml
  releases/release-1.33/release-notes/maps/pr-129023-map.yaml
  releases/release-1.33/release-notes/maps/pr-129028-map.yaml
  releases/release-1.33/release-notes/maps/pr-129072-map.yaml
  releases/release-1.33/release-notes/maps/pr-129106-map.yaml
  releases/release-1.33/release-notes/maps/pr-129116-map.yaml
  releases/release-1.33/release-notes/maps/pr-129142-map.yaml
  releases/release-1.33/release-notes/maps/pr-129173-map.yaml
  releases/release-1.33/release-notes/maps/pr-129174-map.yaml
  releases/release-1.33/release-notes/maps/pr-129232-map.yaml
  releases/release-1.33/release-notes/maps/pr-129271-map.yaml
  releases/release-1.33/release-notes/maps/pr-129301-map.yaml
  releases/release-1.33/release-notes/maps/pr-129401-map.yaml
  releases/release-1.33/release-notes/maps/pr-129422-map.yaml
  releases/release-1.33/release-notes/maps/pr-129452-map.yaml
  releases/release-1.33/release-notes/maps/pr-129486-map.yaml
  releases/release-1.33/release-notes/maps/pr-129506-map.yaml
  releases/release-1.33/release-notes/maps/pr-129543-map.yaml
  releases/release-1.33/release-notes/maps/pr-129658-map.yaml
  releases/release-1.33/release-notes/maps/pr-129962-map.yaml
  releases/release-1.33/release-notes/release-notes-draft.json
  releases/release-1.33/release-notes/release-notes-draft.md
  releases/release-1.33/release-notes/sessions/maps-1739546172.json
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, kind/documentation, area/release-team, needs-priority

#2732 Add exceptions from 1.33 Enhancement freeze
  releases/release-1.33/exceptions.yaml
Labels: cncf-cla: yes, size/M, lgtm, sig/release, approved, kind/documentation, area/release-team, needs-priority
